<?php $this->logado() ?>
<!DOCTYPE html>
<html class="loading" lang="pt-br" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <?php $this->loadPage('head'); ?>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body id="conteudo" class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <?php $this->loadPage('menu'); ?>

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <?php
            if ($this->pagelink <> 'sistema') {
                $this->loadPage('breadcrumb');
            }
            ?>
            <?php $this->content(); ?>
        </div>
    </div>
    <!-- END: Content-->

    <?php $this->loadPage('footer') ?>
    <?php $this->loadPage('scripts') ?>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script>
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function(element, renderer) {
                return true;
            }
        };

        function removeImgp(id){
            $('#preview'+id).attr('src', 'https://images.summitmedia-digital.com/preview/images/instagram-placeholder.png');
            $('#'+id).attr('value', '');
        }

        $('#btGerarPDF').click(function() {
            doc.fromHTML($('#tableconteudo').html(), 15, 15, {
                'width': 170,
                'elementHandlers': specialElementHandlers
            });
            doc.save('export.pdf');
        });
    </script>
    <?php $this->loadPage('modal') ?>
</body>
<!-- END: Body-->

</html>