    <section id="about-tratamento">
       <div class="row">
            <div class="col-lg-7 text-left bg-about">
                <div class="container paux">
                    <h3 class="title"><?php echo $this->view->treatment->title ?></h3>
                    <div>
                        <?php echo $this->view->treatment->text ?>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 p-0">
                <img src="<?php echo $this->view->treatment->image ?>" class="img-fluid" title="<?php echo $this->view->treatment->image_title ?>" alt="<?php echo $this->view->treatment->image_alt ?>">
            </div>
        </div>
    </section>

    <section id="faq">
        <div class="container -aux">
            <div class="alinha-acc">
                <img class="mtn remove-mobile" src="<?php echo $this->view->treatment->doctor ?>" title="<?php echo $this->view->treatment->doctor_title ?>" alt="<?php echo $this->view->treatment->doctor_alt ?>" alt="">
                <div class="acc">
                    <h3 class="title">estamos com<br>você nessa luta</h3>
                    <p class="bold mb-4">Aqui você encontra as principais dúvidas em relação<br>
                        a <?php echo $this->view->treatment->title ?> fique tranquilo(a) qualquer dúvida conte conosco</p>
                    <div id="accordion">
                        <?php 
                        $show = 'show';
                        foreach($this->view->faq as $f){ ?>
                            <div class="card">
                                <div class="card-header" id="heading<?php echo $f->idfaq ?>">
                                    <h5 class="mb-0">
                                        <button style="text-align: left;" data-toggle="collapse" data-target="#collapse<?php echo $f->idfaq ?>" aria-expanded="true" aria-controls="collapse<?php echo $f->idfaq ?>">
                                        <?php echo $f->title ?>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapse<?php echo $f->idfaq ?>" class="collapse <?php echo $show ?>" aria-labelledby="heading<?php echo $f->idfaq ?>" data-parent="#accordion">
                                    <div class="card-body">
                                        <div id="texto<?php echo $f->idfaq ?>">
                                            <?php echo $this->limita_caracteres(strip_tags($f->text), 204) ?>
                                            <a class="btn-link" href="#." onclick="mostraTexto(<?php echo $f->idfaq ?>)">Ler mais</a>
                                        </div>

                                        <div id="textocompleto<?php echo $f->idfaq ?>" class="d-none">
                                            <?php echo $f->text ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php $show = '';}?>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="phrasestruct">
        <h2>Conte conosco<br>conheça nossa estrutura</h2>
    </section>

    <section id="struct">
        <div class="container">
            <div class="row">
                <?php foreach ($this->view->structs as $s) {?>
                    <div class="col-lg-4 mb-3">
                        <img src="<?php echo $s->image ?>" class="img-fluid" title="<?php echo $s->image_title ?>" alt="<?php echo $s->image_alt ?>">
                    </div>
                <?php }?>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12 text-center">
                    <a href="/contato" class="btn-default">Entre em contato</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        function mostraTexto(id){
            $('#texto'+id).addClass('d-none');
            $('#textocompleto'+id).removeClass('d-none');
        }
    </script>