
<section id="search" class="pt-5">
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-12">
                <h3><?php echo $this->titlesub ?> </h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <h4>Equipe</h4>
                <?php if(count($this->view->teams) > 0){ ?>
                    <ul>
                        <?php foreach($this->view->teams as $t){ ?>
                            <li><a href="/equipe/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idteam ?>"><?php echo $t->title ?></a></li>
                        <?php } ?>
                    </ul>
                <?php }else{echo '<p>Nenhum registro encontrado!</p>';} ?>
            </div>
        
            <div class="col-lg-4">
                <h4>Projetos</h4>
                <?php if(count($this->view->teams) > 0){ ?>
                    <ul>
                        <?php foreach($this->view->projects as $t){ ?>
                            <li><a href="/projetos/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idproject ?>"><?php echo $t->title ?></a></li>
                        <?php } ?>
                    </ul>
                <?php }else{echo '<p>Nenhum registro encontrado!</p>';} ?>
            </div>
        
            <div class="col-lg-4">
                <h4>Exames</h4>
                <?php if(count($this->view->exames) > 0){ ?>
                    <ul>
                        <?php foreach($this->view->exames as $t){ ?>
                            <li><a href="<?php echo $t->link ?>"><?php echo $t->title ?></a></li>
                        <?php } ?>
                    </ul>
                <?php }else{echo '<p>Nenhum registro encontrado!</p>';} ?>
            </div>
        </div>
    </div>
</section>