body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-contato {
   position: relative;
   background:
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url('../images/contato.png');
   height: 422px;

   .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span{
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;
            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color:transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
   }

   .breaditem{
       color: #fff;
       font-size: 18px;
   }

}


section#contato {
    color: #333333 !important;
    background: url('../images/mencontact.png');
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 100px;
    min-height: 900px;
    background-size: contain;
    
    .mtm{
        margin-top: -300px;
    }
    
    .-aux{
        max-width: 100%;
        padding-left: 121px;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile{
            display: none;
        }

        .-aux {
            max-width: 100%;
            padding-left: 15px;
        }
    }
}

@media (max-width: $screen-sm) {

    section#contatoproject {
        background: url('');
    }
}