

body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-equipe {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/equipe.png');
    height: 422px;

    .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span {
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;

            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .breaditem {
        color: #fff;
        font-size: 18px;
    }

}

section#team-page {
    padding-top: 0px;
    padding-bottom: 50px;
    clear: both;

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }

    .owl-nav {
        width: 40px;
        position: absolute;
        top: 183px !important;
        left: -51px;
    }

    .owl-prev,
    .owl-next {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #006699;
        color: #fff;
    }

    .owl-prev {
        background: #0099cc;
    }

    .item {
        padding: 0 20px;
    }

    .box{
        border-radius: 20px;
        background-image: linear-gradient(to bottom, #33cccc, #66cccc);
        padding: 20px;
        color: white;
        min-height: 250px;
        margin-top: 100px;
        position: relative;

        .img-float {
            margin-top: -63px;
            z-index: 1;
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
        }

        .text {
            position: absolute;
            bottom: 0px;

            h4 {
                font-size: 15px;
                font-family: 'gotham-book';
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 2px;
            }

        }

        .more-team {
            position: absolute;
            bottom: 10px;
            right: 14px;
            color: $white;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 4px 7px;
        }
    }

    .pt-100{
        padding-top: 100px;
    }

    .cro{
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    

    

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }
    }
}