

body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-especialidades {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/especialidade.png');
    height: 422px;

    .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span {
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;

            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .breaditem {
        color: #fff;
        font-size: 18px;
    }

}

section#especialidades-page {
    padding-top: 70px;
    padding-bottom: 50px;
    clear: both;

    .mtn {
        margin-top: -172px;
    }

    .alinha-acc {
        position: relative;

        .acc {
            position: absolute;
            top: 60px;
            right: 10%;
            max-width: 700px;

            #accordion {
                min-width: 700px;

                .card {
                    border: none;
                    margin-bottom: 5px;

                    .card-header {
                        background-color: #cfcdcd !important;
                        border-radius: 10px;

                        button {
                            color: #292929;
                            text-transform: uppercase;
                            font-family: 'Open Sans';
                            font-weight: bold;
                            font-size: 15px;
                            background: transparent;
                            border: 0px;
                            cursor: pointer;
                        }

                        button:hover {
                            color: #08a6d5;
                        }
                    }

                    .title {
                        text-transform: uppercase;
                        font-size: 15px;
                        margin-top: 10px;
                    }

                }
            }
        }
    }

    .-aux {
        padding-left: 0px;
        max-width: 100%;
        margin-top: 0px !important;
    }

    

    .box{
        border-radius: 20px;
        background-image: linear-gradient(to bottom, #33cccc, #66cccc);
        padding: 20px;
        color: white;
        min-height: 200px;
        margin-top: 40px;
        position: relative;

        .img-float {
            margin-top: -63px;
            z-index: 1;
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
            mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5));
        }

        .text {
            position: absolute;
            bottom: 0px;

            h4 {
                font-size: 12px;
                font-family: 'gotham-book';
                text-transform: uppercase;
                font-weight: 900;
                margin-bottom: 2px;
            }

        }

        .more-team {
            position: absolute;
            bottom: 10px;
            right: 14px;
            color: $white;
            border: 1px solid #fff;
            border-radius: 100%;
            padding: 3px 5px;
            font-size: 8px;
        }
    }

    .pt-100{
        padding-top: 100px;
    }
    

    

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }

        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .alinha-acc {
            position: relative;

            .acc {
                position: initial;

                #accordion{
                    min-width: 100%;
                }
            }
        }
    }
}