body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-midia{
   position: relative;
   background:
   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
   url('../images/midia.png');
   height: 422px;

   .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span{
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;
            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color:transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
   }

   .breaditem{
       color: #fff;
       font-size: 18px;
   }

}


section#midia {
    color: #333333 !important;
    min-height: 299px;
    padding-top: 70px;
    
    .description{
        font-family: 'Open Sans';
        font-weight: bold;
        margin-bottom: 0px;
    }

    .item-midia {
        position: relative;
        cursor: pointer;
        margin-bottom: 30px;
        
    }

    .overlay {
        background: rgba(64, 190, 195, 0.8);
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: none;
        border-radius: 24px;

        .desc {
            color: #ffffff;
            bottom: 0px;
            left: 0px;
            position: absolute;
            padding: 20px 20px;

            span {
                font-weight: bold;
            }

            a {
                color: $white;
            }
        }
    }

    .imghover{
        display: block;
    }

    .imghover:hover+.overlay {
        display: block;
    }

    .page-link {
        background-color: #f0f0f0;
        border-radius: 100%;
        margin-left: 10px;
        color: #292929;
        font-weight: bold;

        &:hover {
            background-color: #44c0c1;
            border-color: #44c0c1;
            color: $white;
        }
    }

    .active{
        .page-link {
            background-color: #44c0c1;
            border-color: #44c0c1;
            color: $white;
        }
    }

    @media (max-width: $screen-sm) {
        .remove-mobile{
            display: none;
        }
    }
}