

body{
    overflow-x: hidden;
    background-color: $body-color;
}

header#header-unidade {
    position: relative;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/unit.png');
    height: 422px;

    .title {
        text-align: center;
        margin-top: 40px;
        color: $white !important;
        text-transform: uppercase;

        span {
            letter-spacing: 4px;
            font-size: 25px;
            font-family: 'gotham-book';
        }

        h1 {
            font-size: 55px;
            font-family: 'gotham-ultra';
            line-height: 53px;

            span {
                font-size: 55px;
                font-family: 'gotham-ultra';
                background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
                /* For Chrome and Safari */
                background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
                /* For old Fx (3.6 to 15) */
                background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
                /* For pre-releases of IE 10*/
                background-image: -o-linear-gradient(right, #66cccc, #0099cc);
                /* For old Opera (11.1 to 12.0) */
                background-image: linear-gradient(right, #66cccc, #0099cc);
                /* Standard syntax; must be last */
                color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .breaditem {
        color: #fff;
        font-size: 18px;
    }

}

section#about-unit {
    padding-top: 70px;
    padding-bottom: 50px;
    clear: both;

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }
    

    .br20{
        border-radius: 20px;
    }

    .owl-nav {
        position: absolute;
        bottom: 10px;
        right: 0;
    }

    .owl-prev,
    .owl-next {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #4bc3bf;
        color: #fff;
        margin-right: 10px;
    }

    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }
    }
}

section#phrase {
    position: relative;
    background:url('../images/unitlinebg.png');
    background-position: top;
    height: 320px;

    h2{
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding-top: 142px;
    }

    @media (max-width: $screen-sm) {
        h2 {
            padding-top: 98px;
        }
    }
}
section#especialidades {
    padding-top: 70px;
    padding-bottom: 50px;
    clear: both;

    .title {
        text-transform: uppercase;

        span {
            font-size: 15px;
            letter-spacing: 7px;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }
    }

    .alinha-acc {

        .acc {
            top: 60px;
            right: 10%;
            min-width: 100%;

            #accordion {
                min-width: 100%;

                .card {
                    border: none;
                    margin-bottom: 5px;

                    .card-header {
                        background-color: #cfcdcd !important;
                        border-radius: 10px;

                        button {
                            color: #292929;
                            text-transform: uppercase;
                            font-family: 'Open Sans';
                            font-weight: bold;
                            font-size: 15px;
                            background: transparent;
                            border: 0px;
                            cursor: pointer;
                        }

                        button:hover {
                            color: #08a6d5;
                        }
                    }

                    .title {
                        text-transform: uppercase;
                        font-size: 15px;
                        margin-top: 10px;
                    }

                }
            }
        }
    }


    @media (max-width: $screen-sm) {
        .remove-mobile {
            display: none;
        }
    }
}

.-aux-team {
    padding-top: 0px !important;
}