<section id="midia">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2><?php echo $this->pagename ?></h2>
            </div>
        </div>

        <div class="row mt-5 mb-5">
            <?php 
            $i=0;
            foreach($this->view->midias as $m) { ?>
                <div class="col-lg-3">
                    <div class="item-midia" onmouseover="hoverimg('#over<?php echo $i ?>', 'display:block')" onmouseleave="hoverimg('#over<?php echo $i ?>', 'display:none')">
                        <a class="imghover" href="#.">
                            <img src="<?php echo $m->image ?>" class="img-fluid " alt="">
                        </a>
                        <div id="over<?php echo $i ?>" class="overlay">
                            <div class="desc">
                                <p>
                                    <span><?php echo $m->title ?></span><br>
                                    <?php echo $m->text ?>
                                </p>
                                <!-- <i href="#." class="float-right"><i class="fas fa-chevron-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            <?php $i++;} ?>
        </div>
        
        <div class="row mt-2">
            <div class="col-lg-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination float-right">
                        <?php if($this->view->paginacao > 1){?>
                            <li class="page-item">
                                <a class="page-link" href="/exames/<?php echo $this->view->paginacao ?>" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        <?php } ?>
                        <?php

                        $pags = ceil($this->view->total/$this->view->registros);

                        for($i = $this->view->paginacao; $i < $this->view->paginacao + $this->view->max_links; $i++) {
                            if ($i <= $pags){ ?>
                                <li class="page-item <?php if($this->view->paginacao == $i){echo 'active';} ?>"><a class="page-link" <?php if($this->view->paginacao == $i){?> href="#" <?php }else{ ?>href="/exames/<?php echo $this->view->paginacao ?>"<?php } ?>><?php echo $i ?></a></li>
                        <?php }
                        } ?>

                        <?php
                        if($this->view->paginacao < $pags){ ?>
                            <li class="page-item"><a class="page-link" href="/exames/<?php echo $this->view->paginacao ?>"><i class="fas fa-chevron-right"></i></a></li>
                        <?php }?>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</section>