<section id="about-page"  style="min-height: 814px; background-image: url('<?php echo $this->datasite['config']->image_doctor ?>');">
    <div class="container paux">
        <div class="row">
            <div class="col-lg-10 offset-lg-2">
                <div class="row">
                    <div class="col-lg-5 offset-lg-2">
                        <h2>
                            <span>conheça</span><br>
                                nossa história
                        </h2>
                        <p>
                            <?php echo $this->datasite['config']->text_about ?>
                        </p>
                        
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-10 offset-lg-2">
                        <div class="align-owl">
                            <div class="owl-carousel owl-theme owl-about">
                                <?php foreach($this->view->timeline as $t){ ?>
                                    <div class="item item-boxline">
                                        <div class="timebox">
                                            <i class="<?php echo $t->icon ?>"></i><br>
                                            <strong><?php echo $t->year ?></strong>
                                            <p><?php echo $t->text ?></p>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>