<section id="about-unit">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-left">
                    <h3 class="title"><?php echo $this->view->unit->title ?></h3>
                    <div><?php echo $this->view->unit->text ?></div>
                </div>
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme owl-unistimg">
                            <?php foreach($this->view->structs as $s){ ?>
                                <div class="item">
                                    <img src="<?php echo $s->image ?>" class="img-fluid br20" title="<?php echo $s->image_title ?>" alt="<?php echo $s->image_alt ?>">
                                </div>
                            <?php } ?>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <section id="phrase">
        <h2>mais que uma clínica, somos uma família</h2>
    </section>
    <?php if(count($this->view->specialities)>0){ ?> 
        <section id="especialidades">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-left">
                        <h3 class="title">
                            <span>Aqui você encontra</span><br>
                            Exames e Atendimento<br>
                            <?php echo $this->view->unit->type->title ?>
                        </h3>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="alinha-acc">
                            <div class="acc">
                                <div id="accordion">
                                    <div class="row">
                                        <?php foreach ($this->view->specialities as $s) {?>
                                            <div class="col-lg-6">
                                                <div class="card">
                                                    <div class="card-header" id="heading<?php echo $s->idspecialties ?>">
                                                        <h5 class="mb-0">
                                                            <button data-toggle="collapse" data-target="#collapse<?php echo $s->idspecialties ?>" aria-expanded="true" aria-controls="collapse<?php echo $s->idspecialties ?>">
                                                                <?php echo $s->title ?>
                                                            </button>
                                                        </h5>
                                                    </div>

                                                    <div id="collapse<?php echo $s->idspecialties ?>" class="collapse show" aria-labelledby="heading<?php echo $s->idspecialties ?>" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <p><?php echo $s->text ?></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php }?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <?php } ?>
    <?php if(count($this->view->teams)>0){ ?>                                    
        <section id="team">
            <div class="container -aux">
                <div class="row">
                    <div class="col-lg-3 align-self-center">
                        <h3 class="title text-center"><span>conheça o</span><br> time de médicos<br>dessa unidade</h3>
                    </div>
                    <div class="col-lg-9">
                        <div class="owl-carousel owl-theme owl-team">
                            <?php foreach ($this->view->teams as $t) {?>
                                <div class="item">
                                    <div class="box">
                                        <img src="<?php echo $t->image ?>" class="img-fluid img-float">
                                        <div class="text">
                                            <h4><?php echo $t->title ?></h4>
                                            <p><?php echo $t->office ?></p>
                                        </div>
                                        <a class="more-team" href="/equipe/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idteam ?>"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            <?php }?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <a class="btn-link link float-right" href="/equipe">Ver toda equipe <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        </section>
    <?php } ?>