<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Titulo">Titulo</label>
                                <input type="text" required name="title" title="Titulo" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Titulo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Tipo de Área">Tipo de Área</label>
                                <select class="form-control round" required title="Tipo de Área" name="idtype" id="idtype">
                                    <option selected disabled>Selecione um Tipo</option>
                                    <?php foreach ($this->view->types as $g) { ?>
                                        <option <?php echo ($g->idtype == $this->view->obj->idtype ? "selected" : ""); ?> value="<?php echo $g->idtype ?>"><?php echo $g->title ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Endereço">Endereço</label>
                                <input type="text" required name="address" title="Endereço" value="<?php echo $this->view->obj->address ?>" class="form-control round" placeholder="Endereço">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Telefone">Telefone</label>
                                <input type="text" required name="phone" title="Telefone" value="<?php echo $this->view->obj->phone ?>" class="form-control round" placeholder="Telefone">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="E-mail">E-mail</label>
                                <input type="text" required name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="E-mail">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="upload('formcrud')" type="file" class="custom-file-input" name="file" id="file" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher imagem</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimg" src="<?php echo $this->view->obj->image <> '' ? $this->view->obj->image : 'https://images.summitmedia-digital.com/preview/images/instagram-placeholder.png' ?>" style="height: 100px">
                        </div>
                    </div>

                    <div class="row  mt-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Alt Imagem">Alt Imagem</label>
                                <input type="text" required name="image_alt" title="Alt Imagem" value="<?php echo $this->view->obj->image_alt ?>" class="form-control round" placeholder="Alt Imagem">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Title Imagem">Title Imagem</label>
                                <input type="text" name="image_title" title="Title Imagem" value="<?php echo $this->view->obj->image_title ?>" class="form-control round" placeholder="Title Imagem">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4>Sobre</h4>
                        <div class="form-group">
                            <label class="sr-only" for="Texto">Sobre</label>
                            <textarea name="text" title="Texto" id="summernote"><?php echo $this->view->obj->text ?></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4>Horário de funcionamento</h4>
                        <div class="form-group">
                            <label class="sr-only" for="Horário de funcionamento">Horário de funcionamento</label>
                            <textarea class="form-control round" placeholder="Horário de funcionamento" name="operation" title="Horário de funcionamento"><?php echo $this->view->obj->operation ?></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idunits ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <input type="hidden" name="image_old" value="<?php echo $this->view->obj->image ?>">
                    <input type="hidden" name="image" value="<?php echo $this->view->obj->image ?>" id="imgload">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>

            <div class="card-text">
                <?php if (isset($this->view->errormessage)) { ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls">Imagens</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <?php if ($this->view->obj->idunits <> '') { ?>
            <div class="card-content collapse show">
                <form id="formimage" action="/sistema/units/uploadsimages">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input type="file" onchange="verificaMostraBotao('#filemultiple', '#previewimg2');" class="custom-file-input" name="file" id="filemultiple" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher imagem</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimg2" src="https://images.summitmedia-digital.com/preview/images/instagram-placeholder.png" style="height: 100px">
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="sr-only" for="Alt Imagem">Alt Imagem</label>
                                        <input type="text" required name="image_alt" id="image_alt" title="Alt Imagem" class="form-control round" placeholder="Alt Imagem">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="sr-only" for="Title Imagem">Title Imagem</label>
                                        <input type="text" name="image_title" id="image_title" title="Title Imagem" class="form-control round" placeholder="Title Imagem">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card-block">
                            <div class="card-body">
                                <div class="col-md-12">
                                    <input type="hidden" name="id" id="id" value="<?php echo $this->view->obj->idunits ?>">
                                    <button type="button" onclick="uploadmulti('formimage', '?alt='+$('#image_alt').val()+'&title='+$('#image_title').val()+'&id='+$('#id').val(), '')" class="btn btn-success text-white">Adicionar Imagem</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-content collapse show">
                <div class="row">
                    <?php foreach ($this->view->images as $i) { ?>
                        <div id="<?php echo $i->idimage ?>img" class="col-lg-2 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <img src="<?php echo $i->image ?>" alt="<?php echo $i->image_alt ?>" title="<?php echo $i->image_title ?>" class="img-fluid">
                                    <button onclick="deleteimage('<?php echo $i->image ?>', '#<?php echo $i->idimage ?>img')" title="Remover <?php echo $i->image_title ?>" class="btn btn-danger mt-1 w-100"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        <?php } ?>
    </div>
</div>