<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>
                    veja nossa agenda <br> de eventos e fique ligado
                </h2>
            </div>
            <div class="col-lg-6">
                <div class="float-right">
                    <span class="cat">Categorias:</span>
                    <div class="dropdown">
                        <button class="btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <?php echo $this->view->category->title <> '' ? $this->view->category->title : 'Selecione uma categoria' ?>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <?php foreach($this->view->categories as $c){ ?>
                                <a class="dropdown-item" href="/agenda/<?php echo $this->url_generate($c->title) ?>/<?php echo $c->idcategory ?>"><?php echo $c->title ?></a>
                            <?php } ?>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <?php foreach($this->view->schedules as $c){ ?>
                <div class="col-lg-4">
                    <img class="img-fluid rounded" src="<?php echo $c->image ?>" alt="<?php echo $c->image_alt ?>" title="<?php echo $c->image_title ?>">
                    <div class="item-agenda">
                        <div class="row -aux">
                            <div class="col-lg-3 date">
                                
                                <h2>
                                    <?php 
                                    $c->date = date_create($c->date);

                                    echo date_format($c->date,"d") ?>
                                    <span><?php echo date_format($c->date,"M") ?></span>
                                </h2>
                            </div>
                            <div class="col-lg-9 description">
                                <h4><?php echo $c->title ?></h4>
                                <p><?php echo $c->text ?></p>
                                <!-- <a href="#." class="link">Saiba mais</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>