<style>
form#sendmessage select {
    background: #cfcdcd;
    color: #292929;
    border-radius: 21px;
    height: 45px;
    margin-bottom: 15px;
}
</style>
<section id="contato">
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-5">
                <h3><?php echo $this->titlesub ?> </h3>
                <p>
                    <?php echo isset($this->view->typecontact) ? $this->datasite['config']->text_rh : $this->datasite['config']->text_contact ?>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <?php $this->loadPage('form'); ?>
            </div>
        </div>
    </div>
</section>