<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Titulo">Titulo</label>
                                <input type="text" required name="title" title="Título" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Digite aqui seu titulo">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Copyright">Copyright</label>
                                <input type="text" required name="copyright" title="Copyright" value="<?php echo $this->view->obj->copyright ?>" class="form-control round" placeholder="Digite aqui o Copyright">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only" for="SMTP">SMTP</label>
                                <input type="text" required name="smtp" title="SMTP" value="<?php echo $this->view->obj->smtp ?>" class="form-control round" placeholder="Digite aqui seu SMTP">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only" for="E-mail de disparo">E-mail de disparo</label>
                                <input type="text" required name="emailuser" title="E-mail de disparo" value="<?php echo $this->view->obj->emailuser ?>" class="form-control round" placeholder="Digite aqui o E-mail de disparo">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only" for="Senha do e-mail">Senha do e-mail</label>
                                <input type="text" required name="emailpassword" title="Senha do e-mail" value="<?php echo $this->view->obj->emailpassword ?>" class="form-control round" placeholder="Digite aqui Senha do e-mail">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="sr-only" for="Porta">Porta</label>
                                <input type="text" required name="port" title="Porta" value="<?php echo $this->view->obj->port ?>" class="form-control round" placeholder="Digite aqui a Porta">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="sr-only" for="E-mail de contato">E-mail de contato</label>
                                <input type="text" required name="emailsend" title="E-mail de contato" value="<?php echo $this->view->obj->emailsend ?>" class="form-control round" placeholder="Digite aqui o E-mail de contato">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Texto Empresa</p>
                            <div class="form-group">
                                <label class="sr-only" for="Texto Empresa">Texto Empresa</label>
                                <textarea name="text_about" class="form-control round" id="text_about" cols="30" rows="10"><?php echo $this->view->obj->text_about ?></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Texto Contato</p>
                            <div class="form-group">
                                <label class="sr-only" for="Texto Contato">Texto Contato</label>
                                <textarea name="text_contact" class="form-control round" id="text_contact" cols="30" rows="10"><?php echo $this->view->obj->text_contact ?></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Texto RH</p>
                            <div class="form-group">
                                <label class="sr-only" for="Texto RH">Texto RH</label>
                                <textarea name="text_rh" class="form-control round" id="text_rh" cols="30" rows="10"><?php echo $this->view->obj->text_rh ?></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="upload('formcrud')" type="file" class="custom-file-input" name="file" id="file" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher uma imagem para a pagina Empresa</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimg" src="<?php echo $this->view->obj->image_doctor <> '' ? $this->view->obj->image_doctor : '' ?>" style="height: 100px">
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idconfig ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <input type="hidden" name="image_old" value="<?php echo $this->view->obj->image_doctor ?>">
                    <input type="hidden" name="image_doctor" value="<?php echo $this->view->obj->image_doctor ?>" id="imgload">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>
        </div>
    </div>
</div>