<div class="content-wrapper-before"></div>
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title"><?php echo $this->view->titulo ?></h3>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/sistema">Home</a>
                    </li>
                    <?php foreach ($this->view->breadcrumb['label'] as $index => $value) {
                        if ($this->view->breadcrumb['active'][$index] == 'active') { ?>
                            <li class="breadcrumb-item active" aria-current="page"><span><?= $this->view->breadcrumb['label'][$index] ?></span></li>
                        <?php } else { ?>
                            <li class="breadcrumb-item"><a href="<?= $this->view->breadcrumb['url'][$index] ?>"><?= $this->view->breadcrumb['label'][$index] ?></a></li>
                        <?php } ?>

                    <?php } ?>
                </ol>
            </div>
        </div>
    </div>
</div>