<?php
$retorno = $this->sidebar();
?>

<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="collapse navbar-collapse show" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a></li>
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                </ul>
                <ul class="nav navbar-nav float-right -aux-mobile-1">
                    <li class="mr-1">
                        <a href="#." class="dropdown-toggle nav-link fs-mobile">
                            <?php echo $_SESSION['code_nike'] . ' - ' . $_SESSION['name'] ?>
                        </a>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                            <span class="avatar avatar-online">
                                <?php if (isset($_SESSION['image']) && !empty($_SESSION['image'])) { ?>
                                    <img class="img-responsive rounded-circle" src="<?php echo $_SESSION['image'] ?>" alt="User picture">
                                <?php } else { ?>
                                    <span class="cl avatar-user text-white <?php echo $this->colors[rand(0, count($this->colors) - 1)] ?>"><?php echo $_SESSION['name'][0] ?></span>
                                <?php } ?>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="arrow_box_right">
                                <a class="dropdown-item" href="#">
                                    <span class="avatar avatar-online">
                                        <span class="user-name text-bold-700 ml-1">
                                            <?php
                                            $n = explode(' ', $_SESSION['name']);
                                            echo $n[0]
                                            ?>
                                        </span>
                                    </span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/sistema/perfil/<?php echo $_SESSION['user_id'] ?>"><i class="ft-user"></i> Editar Perfil</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="/sistema/login/logout"><i class="ft-power"></i> Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END: Header-->


<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="/templates/sistema/default/app-assets/images/backgrounds/02.jpg">

        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="/home">
                        <img class="img-fluid" alt="Chameleon admin logo" src="/images/logo.png" />
                    </a>
                </li>
                <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
            </ul>
        </div>
        <div class="navigation-background"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li>
                    <a class="menu-item" href="/sistema/home">
                        <i class="fas fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <?php
                $menu = $retorno['leveltop'];
                $total = $retorno['total'];
                for ($i = 0; $i < $total; $i++) { ?>
                    <li class="<?php echo $menu[$i]['total'] > 0 ? 'nav-item' : '' ?>">
                        <a href="<?php echo $menu[$i]['function'] != "" ? "/sistema/" . $menu[$i]['function'] : "javascript:void(0)" ?>" class="<?php echo $menu[$i]['function'] == "" ? "" : "" ?>" aria-expanded="false">
                            <i class="<?php echo $menu[$i]['icon'] ?>"></i><span class="menu-title" data-i18n=""><?php echo $menu[$i]['title'] ?></span>
                        </a>
                        <?php if ($menu[$i]['total'] > 0) { ?>
                            <ul class="menu-content">
                                <?php
                                $sub = $menu[$i]['submenus'];
                                for ($s = 0; $s < $menu[$i]['total']; $s++) { ?>
                                    <li>
                                        <a class="menu-item" href="/sistema/<?php echo $sub[$s]['function'] ?>">
                                            <i class="<?php echo $sub[$s]['icon'] ?>"></i> <?php echo $sub[$s]['title'] ?>
                                        </a>
                                    </li>
                                <?php } ?>
                            </ul>
                        <?php } ?>
                    </li>
                <?php } ?>
                <li>
                    <a href="/sistema/login/logout" class="menu-item">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Sair</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
<!-- END: Main Menu-->