<!-- Modal -->
<div class="modal fade text-left" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel8" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <h4 class="modal-title white" id="myModalLabel8">Setar Coleções</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-content collpase show">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Selecione as coleções
                        </div>
                        <form id="formcrud" method="post" action="/sistema/home/changecollection" class="form form-horizontal">
                            <div class="form-body">

                                <h4 class="form-section"><i class="fab fa-accusoft"></i> Coleções</h4>

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="oldcollection">Coleção anterior</label>
                                    <div class="col-md-9">
                                        <select id="oldcollection" name="oldcollection" class="form-control">
                                            <option value="" selected="" disabled="">Coleção anterior</option>
                                            <?php foreach ($this->collectionslist() as $c) { ?>
                                                <option <?php echo $this->configdata()->oldcollection == $c->idcollection ? 'selected' : '' ?> value="<?php echo $c->idcollection ?>"><?php echo $c->code ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="newcollection">Coleção atual</label>
                                    <div class="col-md-9">
                                        <select id="newcollection" name="newcollection" class="form-control">
                                            <option value="" selected="" disabled="">Coleção atual</option>
                                            <?php foreach ($this->collectionslist() as $c) { ?>
                                                <option <?php echo $this->configdata()->newcollection == $c->idcollection ? 'selected' : '' ?> value="<?php echo $c->idcollection ?>"><?php echo $c->code ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="nextcollection">Próxima coleção</label>
                                    <div class="col-md-9">
                                        <select id="nextcollection" name="nextcollection" class="form-control">
                                            <option value="" selected="" disabled="">Próxima coleção</option>
                                            <?php foreach ($this->collectionslist() as $c) { ?>
                                                <option <?php echo $this->configdata()->nextcollection == $c->idcollection ? 'selected' : '' ?> value="<?php echo $c->idcollection ?>"><?php echo $c->code ?></option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="status_response" class="d-none text-center mt-2 mb-2">
                                <div class="fa-3x">
                                    <i class="text-dark fas fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            <div class="text-center p-t-115">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="response"></div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-actions right">
                    <button type="button" data-dismiss="modal" class="btn btn-danger mr-1">
                        <i class="ft-x"></i> Cancelar
                    </button>
                    <button onclick="register('#formcrud')" type="button" class="btn btn-primary">
                        <i class="la la-check-square-o"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>