<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-6 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0">
                                <div class="text-center mb-1">
                                    <img style="height: 95px;" src="/images/logo.png" alt="branding logo">
                                </div>
                            </div>
                            <div class="card-content">

                                <div class="card-body">
                                    <form class="form-horizontal" id="formlogin" action="/sistema/login/logar">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input name="username" title="Usuário" id="user-name" type="text" class="form-control round" placeholder="Digite seu usuário" required>
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" title="Senha" name="password" class="form-control round" id="user-password" placeholder="Digite sua senha" required>
                                            <div class="form-control-position">
                                                <i class="ft-lock"></i>
                                            </div>
                                        </fieldset>
                                        <div class="form-group row">
                                            <div class="col-md-6 col-12 text-center text-sm-left">

                                            </div>
                                            <!-- <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div> -->
                                        </div>
                                        <div id="status_response" class="d-none text-center mt-2">
                                            <div class="fa-3x">
                                                <i class="text-black fas fa-spinner fa-spin"></i>
                                            </div>
                                        </div>
                                        <div class="text-center p-t-115">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div id="response"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button onclick="login('#formlogin')" type="button" class="btn round btn-block btn-glow btn-bg-gradient-x-purple-blue col-12 mr-1 mb-1">Login</button>
                                        </div>

                                    </form>
                                </div>

                                <!-- <p class="card-subtitle text-muted text-right font-small-3 mx-2 my-1"><span>Don't have an account ? <a href="register.html" class="card-link">Sign Up</a></span></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
