
<style>
    section#participar{
        min-height: 746px;
    }
    section#participar::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url("<?php echo $this->view->obj->image ?>");
        width: 611px;
        height: 746px;
    }

    section#about-project {
        position: initial;
        min-height: auto;
    }

    section#about-project .owl-nav {
        position: absolute;
        top: 0px;
        right: -29px;
        width: 40px;
        left: auto;
    }
</style>  
<section id="about-project"  <?php echo count($this->view->structs) > 0 ? '' : 'style="min-height: auto"'?>>
        <div class="container">
            <div class="row mb-5">
                <?php if($this->view->obj->logo <> ''){ ?>
                <div class="col-lg-3">
                    <img src="<?php echo $this->view->obj->logo ?>" class="img-fluid" title="<?php echo $this->view->obj->logo_title ?>" alt="<?php echo $this->view->obj->logo_alt ?>">
                </div>
                <?php }?>
                <?php if($this->view->obj->logo_add <> ''){ ?>
                    <div class="col-lg-3 pt-5">
                        <img src="<?php echo $this->view->obj->logo_add ?>" class="img-fluid" title="<?php echo $this->view->obj->logo_add_title ?>" alt="<?php echo $this->view->obj->logo_add_alt ?>">
                    </div>
                <?php }?>
            </div>
            <div class="row">
                <div class="<?php echo count($this->view->structs)>0 ? 'col-lg-6' : 'col-lg-12' ?> text-left">
                    
                    <h3 class="title">O que é o<br><?php echo $this->view->obj->title ?>?</h3>
                    <div><?php echo $this->view->obj->whattext ?></div>

                    <h3 class="title mt-3">
                        O que é<br>oferecido?
                    </h3>
                    <div><?php echo $this->view->obj->offeredtext ?></div>
                </div>
                <?php if(count($this->view->structs)>0){  ?>
                <div class="col-lg-6">
                    <div class="owl-carousel owl-theme owl-structproject">
                        <?php foreach ($this->view->structs as $s) {?>
                            <div class="item">
                                <img src="<?php echo $s->image ?>" class="img-fluid br20" title="<?php echo $s->image_title ?>" alt="<?php echo $s->image ?>">
                            </div>
                        <?php }?>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
    </section>                          
    <section id="participar">
        <div class="container">
            <div class="row">
                <div class="<?php echo $this->view->obj->image <> '' ? 'offset-lg-6 col-lg-6' : 'col-lg-12'  ?>">
                    <h3 class="title">Quem pode<br>participar?</h3>
                    <div><?php echo $this->view->obj->participatetext ?></div>
                    <h3 class="title mt-3">Nosso<br>objetivo:</h3>
                    <div><?php echo $this->view->obj->goalstext ?></div>

                    <h3 class="title mt-3">
                        Colaboradores:
                    </h3>
                    <div><?php echo $this->view->obj->contributorstext ?></div>
                </div>
            </div>
        </div>
    </section>

    <section id="phraseproject">
        <h2>Um projeto para a família</h2>
    </section>

    <section id="contatoproject" style="background-image: url('<?php echo $this->view->obj->contact ?>');">
        <div class="container mb-3">
            <div class="row">
                <div class="col-lg-5">
                    <h3>Fale conosco</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <?php $this->loadPage('form'); ?>
                </div>
            </div>
        </div>
    </section>
