<footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <h5>Mapa do site</h5>
                    <ul class="list-unstyled">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/empresa">Empresa</a></li>
                        <li><a href="/equipe">Equipe</a></li>
                        <li><a href="/especialidades">Especialidades</a></li>
                        <li><a href="/tratamentos">Tratamentos</a></li>
                        <li><a href="/projetos">Projetos</a></li>
                        <li><a href="/midia">Comunicação</a></li>
                        <li><a href="/contato">Contato</a></li>
                    </ul>
                    <h5>Certificado</h5>
                    <img src="<?php echo $this->url_default_template ?>/assets/images/certificado.png" alt="">
                </div>
                <div class="col-lg-2">
                    <h5>Empresa</h5>
                    <ul class="list-unstyled">
                        <li><a href="/empresa">Sobre</a></li>
                        <li><a href="/empresa/unidades">Unidades</a></li>
                    </ul>
                    <h5>Comunicação</h5>
                    <ul class="list-unstyled">
                        <li><a href="#.">Blog</a></li>
                        <li><a href="/agenda">Agenda de Eventos</a></li>
                        <li><a href="/midia">Imprensa</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5>Equipe</h5>
                    <ul class="list-unstyled">
                        <?php foreach($this->datasite['teams'] as $t){ ?>
                            <li><a href="/equipe/area/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idtype ?>"><?php echo $t->title ?></a></li>
                        <?php } ?>
                    </ul>
                    <h5>Contato</h5>
                    <ul class="list-unstyled">
                        <li><a href="#.">Área de RH</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5>Especialidades</h5>
                    <ul class="list-unstyled">
                        <?php foreach ($this->datasite['specialtieCategory'] as $t) {?>
                            <li><a style="text-transform: capitalize" href="/especialidades/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idcategory ?>"><?php echo $t->title ?></a></li>
                        <?php }?>
                    </ul>
                    <h5>Tratamentos</h5>
                    <ul class="list-unstyled">
                        <?php foreach ($this->datasite['treatments'] as $t) {?>
                            <li><a style="text-transform: capitalize" href="/tratamentos/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idtreatments ?>"><?php echo $t->title ?></a></li>
                        <?php }?>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5>Projetos</h5>
                    <ul class="list-unstyled">
                        <?php foreach ($this->datasite['project'] as $t) {?>
                            <li><a style="text-transform: uppercase" href="/projetos/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idproject ?>"><?php echo $t->title ?></a></li>
                        <?php }?>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h5>Entre em contato</h5>
                    <ul class="list-unstyled">
                        <?php foreach ($this->datasite['units'] as $t) {?>
                            <li>
                                <p>
                                    <span><?php echo $t->title ?></span><br>
                                    Fone: <?php echo $t->phone ?>
                                </p>
                                <p>
                                    <?php echo $t->address ?><br>
                                    <span class="bold">Horário de Funcionamento:</span>    
                                </p>
                                <p>
                                    <?php echo $t->operation ?>
                                </p>
                            </li>
                        <?php }?>
                    </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-6">
                    <p class="copy"><?php echo $this->datasite['config']->copyright ?>. <?php echo date('Y') ?> | <?php echo $this->datasite['config']->title ?></p>
                </div>
                <div class="col-lg-6">
                    <p class="dev">Desenvolvido por <a href="http://www.comunicando.net.br/" target="_BLANK">
                        <img style="width: 100px;" src="<?php echo $this->url_default_template ?>/assets/images/dev.png" alt=""></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>