<!-- mkt@cebrom.com.br,  62 3265-0400-->
<form action="/contato/enviar" id="sendmessage" method="post">
    <div class="row">
        <div class="col-lg-12">
            <input name="name" required class="form-control" placeholder="Digite seu nome" title="Nome" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input name="email" required class="form-control" placeholder="Digite seu e-mail" title="E-mail" type="email">
        </div>
    </div>
    <?php if(isset($this->view->typecontact)){ ?>
        <div class="row">
            <div class="col-lg-12">
                <select name="idrh" required class="form-control" placeholder="Área de Interesse" title="Área de Interesse" id="idrh">
                    <option value="">Selecione a Área de Interesse</option>
                    <?php foreach($this->view->rh as $r){ ?>
                        <option value="<?php echo $r->idrh ?>"><?php echo $r->title ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
    <?php } ?>
    <div class="row">
        <div class="col-lg-4">
            <input name="phone" class="form-control" placeholder="Telefone" title="Telefone" type="tel">
        </div>
        <div class="col-lg-4">
            <input name="fax" class="form-control" placeholder="Fax" title="Fax" type="tel">
        </div>
        <div class="col-lg-4">
            <input name="mobilephone" required class="form-control" placeholder="Celular" title="Celular" type="tel">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input name="subject" required class="form-control" placeholder="Assunto" title="Assunto" type="text">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <textarea name="message" required class="form-control" placeholder="Mensagem" title="Mensagem" id="message" cols="30" rows="10"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button onclick="register('#sendmessage')" type="button" class="btn btn-default float-right">Enviar mensagem</button>
        </div>
    </div>
    <div id="status_response" class="d-none text-center mt-2 mb-2">
        <div class="fa-3x">
            <i class="text-dark fas fa-spinner fa-spin"></i>
        </div>
    </div>
    <div class="text-center p-t-115">
        <div class="row">
            <div class="col-md-12">
                <div id="response"></div>
            </div>
        </div>
    </div>
</form>