
<title><?php echo $this->view->titlehead.' | '.$this->datasite['config']->title ?></title>
<meta charset="UTF-8">
<meta name="author" content="">
<meta name="description" content="">
<meta name="robots" content="noarchive">
<meta name="reply-to" content="c">
<meta name="keywords" content="<?php echo $this->datasite['seo']->keywords ?>">
<meta property="og:locale" content="pt-br">
<meta property="og:url" content="<?php echo $this->url_default_site ?>">
<meta property="og:title" content="<?php echo $this->view->titlehead.' | '.$this->datasite['config']->title ?>">
<meta property="og:site_name" content="<?php echo $this->datasite['config']->title ?>">
<meta property="og:description" content="<?php echo $this->datasite['seo']->description ?>">
<meta property="og:image" content="<?php echo $this->url_default_template ?>/assets/images/logo.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1600">
<meta property="og:image:height" content="1200">
<meta property="og:type" content="website">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/vendor/owl-carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<?php echo $this->url_default_template ?>/assets/fontes/flaticon.css">
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/css/animate.css">
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/css/menu_sideslide.css">
<link rel="stylesheet" href="<?php echo $this->url_default_template ?>/assets/css/main.css">
<link rel="shortcut icon" href="<?php echo $this->url_default_template ?>/assets/images/favicon.ico" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146167205-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146167205-1');
</script>