<div class="container">
    <div class="row">
        <div class="col-lg-12 title">
            <span><?php echo $this->title; ?></span><br>
            <h1>
                <?php echo $this->titlesub <> '' ? $this->titlesub.'<br>' : ''; ?>
                <span><?php echo $this->pagename; ?></span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center breaditem">
                <i class="fas fa-home"></i> <?php echo $this->title; ?> <?php echo isset($this->bread) && $this->bread <> '' ? ' / '.$this->bread : '' ?><?php echo $this->pagename <> '' ? ' / '.$this->pagename : '' ?>
            </p>
        </div>
    </div>
</div>