        <style>
            .menu-button::after {
                position: absolute;
                top: 0.2em;
                right: 0.2em;
                bottom: 0.5em;
                left: 0.5em;
                color: #00aad6;
                content: 'MENU';
                font-size: 18px;
                font-family: 'Open Sans';
            }

            .menu-button::before {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
                bottom: 0.5em;
                left: 0.5em;
                color: #00aad6;
                background: linear-gradient(#00aad6 20%, transparent 20%, transparent 40%, #00aad6 40%, #00aad6 60%, transparent 60%, transparent 80%, #00aad6 80%);
                content: '';
            }
        </style>
        <div>
            <div class="menu-wrap">
                <nav class="menu">
                    <div class="icon-list">
                        <a href="/home"><span>Home</span></a>
                        <a href="/empresa"><span>Empresa</span></a>
                        <a href="/empresa/unidades"><span>Unidades</span></a>
                        <a href="/exames"><span>Exames</span></a>
                        <a href="/equipe"><span>Equipe</span></a>
                        <a href="/tratamentos"><span>Tratamentos</span></a>
                        <a href="/projetos"><span>Projetos</span></a>
                        <a href="http://blogcebrom.com.br"><span>Blog</span></a>
                        <a href="/agenda"><span>Agenda de Eventos</span></a>
                        <a href="https://blogcebrom.com.br/acompanhe"><span>Imprensa</span></a>
                        <a href="/contato"><span>Contato</span></a>
                        <a href="/rh"><span>Área de RH</span></a>
                    </div>
                </nav>
                <button class="close-button" id="close-button">Close Menu</button>
            </div>
            <button class="menu-button" id="open-button"></button>
        </div>

        <nav class="navbar navbar-expand-lg justify-content-end navbar-light nav-color">
            <div class="container">
                <a class="navbar-brand" href="/home"><img src="<?php echo $this->url_default_template ?>/assets/images/logo.png" style="max-width: 175px" alt="Cebrom" title="TipBrasil"></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item <?php echo $this->view->page == 'header-home' ? 'active' : '' ?>">
                            <a class="nav-link" href="/home" title="Home">Home</a>
                        </li>
                        <li class="nav-item dropdown <?php echo $this->view->page == 'header-empresa' ? 'active' : '' ?>">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Empresa <i class="fas fa-sort-down"></i>
                            </a>
                            <div style="padding: 20px;" class="dropdown-menu">
                                <a style="color: #333 !important;" class="nav-link" href="/empresa" title="Empresa">Empresa</a>
                                <a style="color: #333 !important;" class="nav-link" href="/empresa/unidades" title="Empresa">Unidades</a>
                                
                            </div>
                        </li>
                        <li class="nav-item dropdown <?php echo $this->view->page == 'header-equipe' ? 'active' : '' ?>">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Equipe <i class="fas fa-sort-down"></i>
                            </a>
                            <div style="padding: 20px;" class="dropdown-menu">
                               <?php foreach ($this->datasite['teams'] as $t) {?>
                                    <a style="color: #333 !important;" href="/equipe/area/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idtype ?>"><?php echo $t->title ?></a><br>
                                <?php }?>
                            </div>
                        </li>
                        <li class="nav-item <?php echo $this->view->page == 'header-midia' ? 'active' : '' ?>"><a style="color: #333 !important;" class="nav-link" href="/exames" title="Exames">Exames</a></li>
                        <li class="nav-item dropdown <?php echo $this->view->page == 'header-tratamento' ? 'active' : '' ?>">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Tratamentos <i class="fas fa-sort-down"></i>
                            </a>
                            <div style="padding: 20px;" class="dropdown-menu">
                               <?php foreach ($this->datasite['treatments'] as $t) {?>
                                    <a style="color: #333 !important; text-transform: capitalize" href="/tratamentos/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idtreatments ?>"><?php echo $t->title ?></a><br>
                                <?php }?>
                            </div>
                        </li>
                        <li class="nav-item dropdown <?php echo $this->view->page == 'header-projetos' ? 'active' : '' ?>">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Projetos <i class="fas fa-sort-down"></i>
                            </a>
                            <div style="padding: 20px;" class="dropdown-menu">
                               <?php foreach ($this->datasite['project'] as $t) {?>
                                    <a style="color: #333 !important; text-transform: uppercase" href="/projetos/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idproject ?>"><?php echo $t->title ?></a><br>
                                <?php }?>
                            </div>
                        </li>
                        <li class="nav-item dropdown <?php echo $this->view->page == 'header-midia' || $this->view->page == 'header-agenda' ? 'active' : '' ?>">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Comunicação <i class="fas fa-sort-down"></i>
                            </a>
                            <div style="padding: 20px; width: 200px;" class="dropdown-menu">
                                <a style="color: #333 !important;" href="http://blogcebrom.com.br">Blog</a><br>
                                <a style="color: #333 !important;" href="/agenda">Agenda de Eventos</a><br>
                                <a style="color: #333 !important;" href="https://blogcebrom.com.br/acompanhe">Imprensa</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown <?php echo $this->view->page == 'header-contato' ? 'active' : '' ?>">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Contato <i class="fas fa-sort-down"></i>
                            </a>
                            <div style="padding: 20px;" class="dropdown-menu">
                                <a style="color: #333 !important;" class="nav-link" href="/contato" title="Contato">Contato</a>
                                <a style="color: #333 !important;" class="nav-link" href="/rh" title="Área de RH">Área de RH</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="inputgroupicon">
                                <input type="search" value="<?php echo isset($_GET['s']) ? $_GET['s'] : '' ?>" name="buscageral" class="input-search" placeholder="Pesquisar" id="buscageral">
                                <i title="Clique para buscar" style="cursor:pointer" onclick="buscar()" class="fas fa-search icon-search"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>