<section id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="title"><span>Quer receber dicas e informações?</span><br>cadastre-se em<br>nossa newsletter</h1>
                </div>

                <div class="col-lg-6 align-self-center">
                    <form action="/newsletter" id="form-news" class="form-news" accept-charset="UTF-8" method="post">
                        <div class="input-group">
                            <input style="margin-bottom: 10px;" type="text" name="name" placeholder="Cadastrar nome" class="form-control">
                            <input type="email" name="email" placeholder="Cadastrar e-mail" class="form-control">
                            <span class="input-group-btn">
                                <button onclick="register('#form-news')" type="button" class="send mb-2 border-0"><i class="fas fa-paper-plane"></i></button>
                            </span>
                        </div>
                        <div id="status_response" class="d-none text-center mt-2 mb-2">
                            <div class="fa-3x">
                                <i class="text-dark fas fa-spinner fa-spin"></i>
                            </div>
                        </div>
                        <div class="text-center p-t-115">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="response"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>