<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="<?php echo $this->url_default_template ?>/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="<?php echo $this->url_default_template ?>/assets/vendor/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/classie.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/main.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/particles.min.js"></script>
<script type="text/javascript" src="<?php echo $this->url_default_template ?>/assets/js/app.js"></script>
<script>
    function buscar(){
        window.location.replace("/search?s="+$('#buscageral').val());
    }
</script>