<div class="content-carousel">
    <div class="owl-carousel">
        <?php foreach($this->view->banners as $b){ ?>
            <div>
                <div class="col-lg-6 offset-lg-5">
                    <img title="<?php echo $b->image_title ?>" alt="<?php echo $b->image ?>" src="<?php echo $b->image ?>">
                </div>
                <div class="col-lg-4">
                    <div class="description">
                        <h3 class="title"><span class="title-one"><?php echo $b->text1 ?></span><br><?php echo $b->text2 ?> <br><span class="title-gradient"><?php echo $b->text3 ?></span></h3>
                        <p class="text-white"><?php echo $b->description ?></p>
                        <a title="<?php echo $b->image_title ?>" class="btn-transparent" href="<?php echo $b->link <> '' ? $b->link : '#.' ?>">Acessar noticia <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>
</div>