/*pages and configurations default*/
/*Color palets*/
/*Fonts*/
@import url("../vendor/bootstrap/scss/bootstrap.scss");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
/*Bootstrap*/
/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */
/*responsive dynamic system*/
a {
  text-decoration: none !important; }

a, button, input {
  outline: none !important; }

a, p, h5, h6, label, input, tr, td, table, .card-text, .card-title {
  font-family: "Open Sans", sans-serif !important; }

h1, h2, h3, h4 {
  font-family: 'gotham-ultra'; }

a, p {
  font-size: 14px;
  font-weight: 300; }

.nav-color {
  background: #fff !important;
  -webkit-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 19px -6px rgba(0, 0, 0, 0.1); }

.modal {
  z-index: 99999; }

.bar {
  background-color: #66cccc;
  width: 40px;
  height: 5px;
  display: block; }

.bg-scroll {
  background-color: #fff !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: #853d34;
  opacity: 1 !important; }

.tooltip-inner {
  max-width: 300px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: 'gotham-ultra';
  background-color: #853d34;
  border-radius: .25rem;
  opacity: 1 !important; }

.navbar {
  z-index: 999; }

.navbar-nav {
  margin-top: -26px; }
  .navbar-nav .nav-item {
    color: #2a2a2a !important;
    font-weight: bold;
    padding-top: 20px; }
    .navbar-nav .nav-item .nav-link {
      color: #2a2a2a !important;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
      .navbar-nav .nav-item .nav-link:after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .navbar-nav .nav-item .nav-link .btn-member {
        color: #ffffff !important; }
      .navbar-nav .nav-item .nav-link:hover {
        color: #66cccc !important;
        font-weight: bold; }
  .navbar-nav .active {
    color: #66cccc !important;
    border-top: 6px solid #66cccc; }
    .navbar-nav .active .nav-link {
      font-weight: bold;
      color: #66cccc !important;
      margin-top: -6px; }

.color-default {
  color: #33cccc; }

.bold {
  font-weight: bold; }

.btn-default {
  color: #ffffff !important;
  background-image: linear-gradient(to right, #00c8bd, #00aad6) !important;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }
  .btn-default:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #00aad6, #00c8bd);
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    color: white; }
  .btn-default:hover:before, .btn-default:focus:before, .btn-default:active:before {
    -webkit-transform: scale(0);
    transform: scale(0); }

.btn-download {
  color: #292929 !important;
  background-color: #ebe9e9 !important;
  border: 1px solid #ebe9e9;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-download:hover {
  background-color: #d4d2d2 !important;
  border: 1px solid #d4d2d2; }

.btn-transparent {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 1px solid #ffffff;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-transparent:hover {
  background-color: #66cccc !important;
  border: 1px solid #66cccc; }

.inputgroupicon {
  position: relative; }
  .inputgroupicon .input-search {
    border-radius: 30px;
    height: 40px;
    background: transparent;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
    padding: 10px 40px;
    font-size: 15px;
    max-width: 170px; }
  .inputgroupicon .icon-search {
    position: absolute;
    color: #2a2a2a;
    font-size: 20px;
    display: block;
    top: 12px;
    left: 15px; }

form#sendmessage input {
  background: #cfcdcd;
  color: #292929;
  border-radius: 21px;
  height: 45px;
  margin-bottom: 15px; }
form#sendmessage textarea {
  background: #cfcdcd;
  color: #292929;
  border-radius: 21px;
  margin-bottom: 15px;
  padding: 20px; }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-home {
  position: relative;
  background-image: url("../images/slide/bgslider.jpg");
  background-size: cover; }
  header#header-home:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px); }
  header#header-home .content-carousel {
    width: 100%;
    display: block;
    margin: 0 auto;
    cursor: grab; }
  header#header-home .owl-carousel {
    position: relative;
    /* width: 600px; */
    right: 0;
    left: 0;
    margin: auto; }
    header#header-home .owl-carousel div {
      width: 100%; }
      header#header-home .owl-carousel div .description {
        position: absolute;
        z-index: 99999;
        bottom: 220px;
        left: 80px; }
        header#header-home .owl-carousel div .description .title {
          color: #ffffff !important;
          text-transform: uppercase;
          line-height: 45px;
          font-size: 3.5em; }
          header#header-home .owl-carousel div .description .title .title-one {
            font-family: 'gotham-book';
            text-transform: uppercase;
            font-size: 25px;
            color: #ffffff !important;
            letter-spacing: 1px; }
          header#header-home .owl-carousel div .description .title .title-gradient {
            background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, #66cccc, #0099cc);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, #66cccc, #0099cc);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
        header#header-home .owl-carousel div .description .text {
          font-weight: bold;
          color: #66cccc; }
    header#header-home .owl-carousel .owl-controls .owl-dot {
      background-size: cover;
      margin-top: 10px; }
    header#header-home .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50px;
      right: 205px;
      background-color: #0099cc;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    header#header-home .owl-carousel .owl-nav .owl-prev:hover, header#header-home .owl-carousel .owl-nav .owl-next:hover {
      background-color: #66cccc; }
    header#header-home .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 450px;
      right: 205px;
      background-color: #0099cc;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    header#header-home .owl-carousel .owl-dots {
      position: absolute;
      left: 80px;
      bottom: -7px; }
      header#header-home .owl-carousel .owl-dots .active {
        border: 4px solid #66cccc;
        border-radius: 10px; }
    header#header-home .owl-carousel .owl-dot {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 145px;
      height: 94px;
      margin-bottom: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px; }
  @media (max-width: 850px) {
    header#header-home .balls-shapes, header#header-home .owl-dots {
      display: none; }
    header#header-home .title-slider::after {
      display: none; }
    header#header-home .title-slider::before {
      width: 300px;
      height: 277px;
      top: 20px; }
    header#header-home .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 15px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    header#header-home .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: 15px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    header#header-home .owl-carousel div {
      width: 100%; }
      header#header-home .owl-carousel div .description {
        background-image: none;
        background-color: rgba(51, 51, 51, 0.7);
        padding: 18px 18px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center; }
        header#header-home .owl-carousel div .description .title {
          text-align: center;
          line-height: 20px;
          font-size: 20px; }
          header#header-home .owl-carousel div .description .title .title-one {
            font-family: 'gotham-book';
            text-transform: uppercase;
            font-size: 15px;
            color: #ffffff !important;
            letter-spacing: 1px; }
        header#header-home .owl-carousel div .description .text {
          text-align: center;
          font-size: 13px;
          line-height: 15px; } }

section#especialties {
  position: relative;
  min-height: 310px;
  color: #ffffff !important;
  background-position: top;
  background-attachment: initial; }
  section#especialties .esp1 {
    background: linear-gradient(rgba(0, 153, 204, 0.9), rgba(0, 153, 204, 0.9)), url("/assets/images/especialties/esp1.png"); }
  section#especialties .esp2 {
    background: linear-gradient(rgba(0, 102, 153, 0.9), rgba(0, 102, 153, 0.9)), url("/assets/images/especialties/esp2.png"); }
  section#especialties .especiality {
    padding: 25px 69px;
    width: 50%;
    float: left;
    min-height: 310px; }
    section#especialties .especiality .icon {
      color: #ffffff;
      font-size: 60px; }
    section#especialties .especiality h2 {
      text-transform: uppercase; }
      section#especialties .especiality h2 span {
        font-size: 15px;
        letter-spacing: 3px;
        font-family: 'gotham-book'; }
    section#especialties .especiality p {
      color: #ffffff !important; }
  @media (max-width: 850px) {
    section#especialties .especiality {
      width: 100%;
      float: none;
      min-height: 410px; } }

@media (max-width: 850px) {
  section#especialties {
    min-height: 410px; } }
section#about {
  color: #333333 !important;
  position: relative;
  min-height: 814px;
  background: url("../images/men.png");
  background-position: left;
  background-repeat: no-repeat;
  margin-top: -20px;
  background-size: contain; }
  section#about .paux {
    padding-top: 65px; }
  section#about .align-owl .item-boxline {
    text-align: center;
    padding: 10px;
    background: linear-gradient(rgba(45, 182, 201, 0.9), rgba(45, 182, 201, 0.9)), url("/assets/images/timeline.png");
    border-radius: 10px;
    color: #ffffff; }
    section#about .align-owl .item-boxline .timebox {
      padding: 30px;
      border: 1px solid #fff;
      border-radius: 10px; }
      section#about .align-owl .item-boxline .timebox i {
        font-size: 70px;
        margin-bottom: 10px; }
      section#about .align-owl .item-boxline .timebox strong {
        font-size: 18px; }
      section#about .align-owl .item-boxline .timebox p {
        color: #ffffff !important; }
  section#about .align-owl .owl-nav {
    width: 40px;
    position: absolute;
    right: -53px;
    top: 140px; }
  section#about .align-owl .owl-prev,
  section#about .align-owl .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #006699;
    color: #fff; }
  section#about .align-owl .owl-prev {
    background: #0099cc; }
  section#about h2 {
    text-transform: uppercase; }
    section#about h2 span {
      font-size: 20px;
      letter-spacing: 3px;
      font-family: 'gotham-book'; }
  section#about p {
    color: #333333 !important; }
  @media (max-width: 850px) {
    section#about .remove-mobile {
      display: none; }
    section#about .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#about .texto-historia {
      position: initial;
      top: auto;
      left: auto;
      float: initial;
      width: 100%; }
      section#about .texto-historia p {
        width: 100%; }
    section#about .align-owl {
      position: initial;
      top: auto;
      left: auto;
      width: 100%;
      clear: both;
      margin: 80px 0; }
      section#about .align-owl .owl-nav {
        width: auto;
        position: absolute;
        top: auto;
        right: 0px;
        bottom: -56px; } }

@media (max-width: 850px) {
  section#about {
    background: url(""); } }
section#units {
  position: relative;
  margin-top: -3px; }
  section#units .title-float {
    position: absolute;
    opacity: 10;
    top: -80px;
    z-index: -2;
    left: 358px; }
    section#units .title-float h1 {
      opacity: 0.1;
      font-size: 88px !important;
      text-transform: uppercase; }
  section#units .-aux {
    padding-left: 0px;
    max-width: 100%;
    margin-top: 0px !important;
    margin-left: -200px; }
  section#units .units-al {
    left: -15%;
    position: absolute; }
  section#units .title {
    margin-top: 65px; }
    section#units .title span {
      font-size: 12px;
      letter-spacing: 3px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
    section#units .title .align-h2 {
      margin-left: -55px;
      margin-bottom: 0px; }
    section#units .title h2 {
      text-transform: uppercase;
      font-size: 35px; }
  section#units .owl-units .owl-nav {
    width: auto;
    position: absolute;
    right: 0px;
    bottom: 40px; }
  section#units .owl-units .owl-prev,
  section#units .owl-units .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #006699;
    color: #fff; }
  section#units .owl-units .owl-prev {
    background: #0099cc; }
  @media (max-width: 850px) {
    section#units .remove-mobile {
      display: none; }
    section#units .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#units .owl-units .owl-nav {
      width: auto;
      position: absolute;
      right: 0px;
      bottom: 40px; }
    section#units .owl-units .owl-prev,
    section#units .owl-units .owl-next {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background: #006699;
      color: #fff; }
    section#units .owl-units .owl-prev {
      background: #0099cc; }
    section#units .title {
      margin-top: 0px; }
      section#units .title span {
        font-size: 12px;
        letter-spacing: 3px;
        font-family: 'gotham-book';
        text-transform: uppercase; }
      section#units .title .align-h2 {
        margin-left: 0px;
        margin-bottom: 0px; }
      section#units .title h2 {
        text-transform: uppercase;
        font-size: 35px; } }

section#tratamentos {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  clear: both; }
  section#tratamentos .title {
    text-transform: uppercase; }
    section#tratamentos .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#tratamentos .title-float {
    opacity: 0.1;
    font-size: 55px !important;
    text-transform: uppercase;
    font-family: 'gotham-ultra'; }
  section#tratamentos .subtitle {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: -40px;
    background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(right, #66cccc, #0099cc);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(right, #66cccc, #0099cc);
    /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  section#tratamentos .btn-link {
    color: #333; }

section#team {
  padding-top: 0px;
  padding-bottom: 50px;
  position: relative;
  clear: both; }
  section#team .rotaten90 {
    transform: rotate(-90deg); }
  section#team .paux {
    position: relative;
    left: 20px; }
  section#team .title {
    text-transform: uppercase; }
    section#team .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#team .-aux {
    padding-left: 15px;
    max-width: 100%;
    margin-top: auto;
    margin-left: 35px; }
  section#team .owl-nav {
    width: 40px;
    position: absolute;
    top: 183px !important;
    left: -51px; }
  section#team .owl-prev, section#team .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #006699;
    color: #fff; }
  section#team .owl-prev {
    background: #0099cc; }
  section#team .item {
    padding: 0 20px; }
  section#team .box {
    border-radius: 20px;
    background: #66cccc;
    background: -moz-linear-gradient(45deg, #66cccc 0%, #66cccc 48%, #00a3d8 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #66cccc), color-stop(48%, #66cccc), color-stop(100%, #00a3d8));
    background: -webkit-linear-gradient(45deg, #66cccc 0%, #66cccc 48%, #00a3d8 100%);
    background: -o-linear-gradient(45deg, #66cccc 0%, #66cccc 48%, #00a3d8 100%);
    background: -ms-linear-gradient(45deg, #66cccc 0%, #66cccc 48%, #00a3d8 100%);
    background: linear-gradient(45deg, #66cccc 0%, #66cccc 48%, #00a3d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cccc', endColorstr='#00a3d8', GradientType=1);
    padding: 20px;
    color: white;
    min-height: 250px;
    margin-top: 100px; }
    section#team .box .img-float {
      margin-top: -63px;
      z-index: 1;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)); }
    section#team .box .text {
      position: absolute;
      bottom: 0px; }
      section#team .box .text h4 {
        font-size: 15px;
        font-family: 'gotham-book';
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 2px; }
    section#team .box .more-team {
      position: absolute;
      bottom: 10px;
      right: 30px;
      color: #ffffff;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 4px 7px; }
  section#team .cat {
    font-weight: bold;
    float: left;
    margin-right: 10px;
    margin-top: 8px; }
  section#team .dropdown {
    width: 255px;
    float: left; }
  section#team .btn-transparent {
    color: #333333 !important;
    border: 1px solid #333333; }
  section#team .link {
    margin-top: 14px;
    color: #333333 !important;
    display: block; }
  section#team .link:hover {
    color: #66cccc !important; }
  @media (max-width: 850px) {
    section#team .remove-mobile {
      display: none; }
    section#team .paux {
      padding-left: 0px; }
    section#team .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#team .owl-stage-outer {
      margin-left: 0px;
      margin-top: 40px; }
    section#team .owl-nav {
      width: 40px;
      position: absolute;
      top: 0px !important;
      left: 0px; }
    section#team .rotaten90 {
      transform: rotate(0deg);
      position: absolute;
      left: 70px;
      top: 0; } }

section#clientes {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  clear: both; }
  section#clientes:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    background: repeating-linear-gradient(to left, #585858, #585858 1px, rgba(94, 94, 94, 0) 0px, rgba(94, 94, 94, 0) 280px);
    z-index: -3; }
  section#clientes .title {
    text-transform: uppercase; }
    section#clientes .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#clientes #clients-slide {
    position: relative; }
    section#clientes #clients-slide .owl-item {
      filter: gray;
      -webkit-filter: grayscale(100%);
      z-index: -1;
      transform: scale(0.7);
      opacity: .8; }
    section#clientes #clients-slide .owl-item.active.center {
      filter: none;
      transform: scale(1);
      opacity: 1;
      z-index: 1; }
    section#clientes #clients-slide .owl-dots {
      position: static !important;
      top: 0 !important;
      right: auto !important;
      width: auto !important;
      height: auto !important;
      margin-top: auto !important;
      padding-top: 30px; }
      section#clientes #clients-slide .owl-dots .active {
        background-color: #66cccc !important;
        border: 0 !important;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%; }
    section#clientes #clients-slide .owl-dot {
      background-size: none !important;
      background-position: none !important;
      background-repeat: none !important;
      background-color: #b7b7b7 !important;
      width: 12px !important;
      height: 12px !important;
      margin-bottom: 0 !important;
      margin: 3px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%; }
    section#clientes #clients-slide .owl-nav {
      color: #66cccc;
      text-align: center;
      display: block; }
      section#clientes #clients-slide .owl-nav .owl-prev {
        left: 394px;
        position: absolute;
        bottom: -3px;
        margin-top: -25px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s; }
        section#clientes #clients-slide .owl-nav .owl-prev:hover {
          color: #66cccc; }
      section#clientes #clients-slide .owl-nav .owl-next {
        position: absolute;
        right: 394px;
        position: absolute;
        bottom: -3px;
        margin-top: -25px;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        -ms-transition: 0.5s;
        transition: 0.5s; }
        section#clientes #clients-slide .owl-nav .owl-next:hover {
          color: #66cccc; }

section#newsletter {
  background-image: linear-gradient(to right, #66cccc, #0099cc);
  padding: 40px 0; }
  section#newsletter .title {
    line-height: 35px;
    text-transform: uppercase;
    color: #ffffff; }
    section#newsletter .title span {
      font-size: 14px;
      text-transform: none;
      font-family: 'gotham-book'; }
  section#newsletter .form-news input {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 0px 36px;
    border: 0;
    box-shadow: none;
    height: 50px;
    margin-right: 10px; }
  section#newsletter .form-news .send {
    background: #006699;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
    color: white; }
  @media (max-width: 850px) {
    section#newsletter input {
      width: 100%;
      padding: 15px !important; }
    section#newsletter .send {
      margin: 14px auto;
      width: 100%;
      border-radius: 50px; }
    section#newsletter .title {
      text-align: center;
      font-size: 1.5em;
      line-height: 25px; } }

footer#footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
  background: linear-gradient(rgba(0, 102, 153, 0.9), rgba(0, 102, 153, 0.9)), url("/assets/images/bg-footer.png");
  background-size: cover;
  color: #ffffff; }
  footer#footer a {
    color: #ffffff;
    font-size: 13px; }
    footer#footer a:hover {
      color: #66cccc; }
  footer#footer p {
    font-size: 13px; }
  footer#footer h5 {
    font-weight: bold;
    font-size: 14px; }
  footer#footer .copy {
    color: #ffffff; }
  footer#footer .dev {
    color: #ffffff;
    text-align: right; }
    footer#footer .dev a {
      font-weight: bold;
      color: #ffffff; }
  @media (max-width: 850px) {
    footer#footer .copy, footer#footer .dev {
      text-align: center; } }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-empresa {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/empresa.png");
  height: 422px; }
  header#header-empresa .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-empresa .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-empresa .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-empresa .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-empresa .breaditem {
    color: #fff;
    font-size: 18px; }

section#about-page {
  color: #333333 !important;
  position: relative;
  min-height: 814px;
  background: url("../images/men.png");
  background-position: left;
  background-repeat: no-repeat;
  margin-top: -20px;
  background-size: contain; }
  section#about-page .paux {
    padding-top: 65px; }
  section#about-page .align-owl .item-boxline {
    text-align: center;
    padding: 10px;
    background: linear-gradient(rgba(45, 182, 201, 0.9), rgba(45, 182, 201, 0.9)), url("/assets/images/timeline.png");
    border-radius: 10px;
    color: #ffffff; }
    section#about-page .align-owl .item-boxline .timebox {
      padding: 30px;
      border: 1px solid #fff;
      border-radius: 10px; }
      section#about-page .align-owl .item-boxline .timebox i {
        font-size: 70px;
        margin-bottom: 10px; }
      section#about-page .align-owl .item-boxline .timebox strong {
        font-size: 18px; }
      section#about-page .align-owl .item-boxline .timebox p {
        color: #ffffff !important; }
  section#about-page .align-owl .owl-nav {
    width: 40px;
    position: absolute;
    right: -53px;
    top: 140px; }
  section#about-page .align-owl .owl-prev,
  section#about-page .align-owl .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #006699;
    color: #fff; }
  section#about-page .align-owl .owl-prev {
    background: #0099cc; }
  section#about-page h2 {
    text-transform: uppercase; }
    section#about-page h2 span {
      font-size: 20px;
      letter-spacing: 3px;
      font-family: 'gotham-book'; }
  section#about-page p {
    color: #333333 !important; }
  @media (max-width: 850px) {
    section#about-page .remove-mobile {
      display: none; }
    section#about-page .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#about-page .texto-historia {
      position: initial;
      top: auto;
      left: auto;
      float: initial;
      width: 100%; }
      section#about-page .texto-historia p {
        width: 100%; }
    section#about-page .align-owl {
      position: initial;
      top: auto;
      left: auto;
      width: 100%;
      clear: both;
      margin: 80px 0; }
      section#about-page .align-owl .owl-nav {
        width: auto;
        position: absolute;
        top: auto;
        right: 0px;
        bottom: -56px; } }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-equipe {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/equipe.png");
  height: 422px; }
  header#header-equipe .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-equipe .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-equipe .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-equipe .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-equipe .breaditem {
    color: #fff;
    font-size: 18px; }

section#team-page {
  padding-top: 0px;
  padding-bottom: 50px;
  clear: both; }
  section#team-page .title {
    text-transform: uppercase; }
    section#team-page .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#team-page .owl-nav {
    width: 40px;
    position: absolute;
    top: 183px !important;
    left: -51px; }
  section#team-page .owl-prev,
  section#team-page .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #006699;
    color: #fff; }
  section#team-page .owl-prev {
    background: #0099cc; }
  section#team-page .item {
    padding: 0 20px; }
  section#team-page .box {
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #33cccc, #66cccc);
    padding: 20px;
    color: white;
    min-height: 250px;
    margin-top: 100px;
    position: relative; }
    section#team-page .box .img-float {
      margin-top: -63px;
      z-index: 1;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)); }
    section#team-page .box .text {
      position: absolute;
      bottom: 0px; }
      section#team-page .box .text h4 {
        font-size: 15px;
        font-family: 'gotham-book';
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 2px; }
    section#team-page .box .more-team {
      position: absolute;
      bottom: 10px;
      right: 14px;
      color: #ffffff;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 4px 7px; }
  section#team-page .pt-100 {
    padding-top: 100px; }
  section#team-page .cro {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }
  @media (max-width: 850px) {
    section#team-page .remove-mobile {
      display: none; } }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-especialidades {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/especialidade.png");
  height: 422px; }
  header#header-especialidades .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-especialidades .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-especialidades .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-especialidades .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-especialidades .breaditem {
    color: #fff;
    font-size: 18px; }

section#especialidades-page {
  padding-top: 70px;
  padding-bottom: 50px;
  clear: both; }
  section#especialidades-page .mtn {
    margin-top: -172px; }
  section#especialidades-page .alinha-acc {
    position: relative; }
    section#especialidades-page .alinha-acc .acc {
      position: absolute;
      top: 60px;
      right: 10%;
      max-width: 700px; }
      section#especialidades-page .alinha-acc .acc #accordion {
        min-width: 700px; }
        section#especialidades-page .alinha-acc .acc #accordion .card {
          border: none;
          margin-bottom: 5px; }
          section#especialidades-page .alinha-acc .acc #accordion .card .card-header {
            background-color: #cfcdcd !important;
            border-radius: 10px; }
            section#especialidades-page .alinha-acc .acc #accordion .card .card-header button {
              color: #292929;
              text-transform: uppercase;
              font-family: 'Open Sans';
              font-weight: bold;
              font-size: 15px;
              background: transparent;
              border: 0px;
              cursor: pointer; }
            section#especialidades-page .alinha-acc .acc #accordion .card .card-header button:hover {
              color: #08a6d5; }
          section#especialidades-page .alinha-acc .acc #accordion .card .title {
            text-transform: uppercase;
            font-size: 15px;
            margin-top: 10px; }
  section#especialidades-page .-aux {
    padding-left: 0px;
    max-width: 100%;
    margin-top: 0px !important; }
  section#especialidades-page .box {
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #33cccc, #66cccc);
    padding: 20px;
    color: white;
    min-height: 200px;
    margin-top: 40px;
    position: relative; }
    section#especialidades-page .box .img-float {
      margin-top: -63px;
      z-index: 1;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
      mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5)); }
    section#especialidades-page .box .text {
      position: absolute;
      bottom: 0px; }
      section#especialidades-page .box .text h4 {
        font-size: 12px;
        font-family: 'gotham-book';
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 2px; }
    section#especialidades-page .box .more-team {
      position: absolute;
      bottom: 10px;
      right: 14px;
      color: #ffffff;
      border: 1px solid #fff;
      border-radius: 100%;
      padding: 3px 5px;
      font-size: 8px; }
  section#especialidades-page .pt-100 {
    padding-top: 100px; }
  @media (max-width: 850px) {
    section#especialidades-page .remove-mobile {
      display: none; }
    section#especialidades-page .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#especialidades-page .alinha-acc {
      position: relative; }
      section#especialidades-page .alinha-acc .acc {
        position: initial; }
        section#especialidades-page .alinha-acc .acc #accordion {
          min-width: 100%; } }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-agenda {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/agenda.png");
  height: 422px; }
  header#header-agenda .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-agenda .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-agenda .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-agenda .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-agenda .breaditem {
    color: #fff;
    font-size: 18px; }

section#agenda {
  color: #333333 !important;
  position: relative;
  min-height: 299px;
  padding-top: 100px; }
  section#agenda h2 {
    text-transform: uppercase; }
  section#agenda p {
    color: #333333 !important; }
  section#agenda .cat {
    font-weight: bold;
    float: left;
    margin-right: 10px;
    margin-top: 8px; }
  section#agenda .dropdown {
    width: 283px;
    float: left; }
  section#agenda .btn-transparent {
    color: #333333 !important;
    border: 1px solid #333333; }
  section#agenda .item-agenda {
    margin-bottom: 40px;
    padding: 0px 10px 0px 0px; }
    section#agenda .item-agenda .date {
      background-image: linear-gradient(to top, #05a5d6, #63cdb7);
      color: #ffffff;
      text-align: center;
      padding: 50px 5px;
      border-radius: 20px 0 0 20px; }
    section#agenda .item-agenda .description {
      background-color: #f7f7f7;
      padding: 30px 20px;
      border-radius: 0 20px 20px 0; }
      section#agenda .item-agenda .description h4 {
        font-size: 16px;
        text-transform: uppercase; }
      section#agenda .item-agenda .description p {
        font-size: 12px; }
      section#agenda .item-agenda .description a {
        float: right;
        color: #292929; }
      section#agenda .item-agenda .description a:hover {
        text-decoration: underline; }
  @media (max-width: 850px) {
    section#agenda .remove-mobile {
      display: none; }
    section#agenda .-aux {
      padding: 20px; }
    section#agenda .item-agenda .date {
      border-radius: 20px 20px 0 0; }
    section#agenda .item-agenda .description {
      border-radius: 0 0 20px 20px; } }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-midia {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/midia.png");
  height: 422px; }
  header#header-midia .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-midia .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-midia .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-midia .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-midia .breaditem {
    color: #fff;
    font-size: 18px; }

section#midia {
  color: #333333 !important;
  min-height: 299px;
  padding-top: 70px; }
  section#midia .description {
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 0px; }
  section#midia .item-midia {
    position: relative;
    cursor: pointer;
    margin-bottom: 30px; }
  section#midia .overlay {
    background: rgba(64, 190, 195, 0.8);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 24px; }
    section#midia .overlay .desc {
      color: #ffffff;
      bottom: 0px;
      left: 0px;
      position: absolute;
      padding: 20px 20px; }
      section#midia .overlay .desc span {
        font-weight: bold; }
      section#midia .overlay .desc a {
        color: #ffffff; }
  section#midia .imghover {
    display: block; }
  section#midia .imghover:hover + .overlay {
    display: block; }
  section#midia .page-link {
    background-color: #f0f0f0;
    border-radius: 100%;
    margin-left: 10px;
    color: #292929;
    font-weight: bold; }
    section#midia .page-link:hover {
      background-color: #44c0c1;
      border-color: #44c0c1;
      color: #ffffff; }
  section#midia .active .page-link {
    background-color: #44c0c1;
    border-color: #44c0c1;
    color: #ffffff; }
  @media (max-width: 850px) {
    section#midia .remove-mobile {
      display: none; } }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-contato {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/contato.png");
  height: 422px; }
  header#header-contato .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-contato .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-contato .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-contato .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-contato .breaditem {
    color: #fff;
    font-size: 18px; }

section#contato {
  color: #333333 !important;
  background: url("../images/mencontact.png");
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 100px;
  min-height: 900px;
  background-size: contain; }
  section#contato .mtm {
    margin-top: -300px; }
  section#contato .-aux {
    max-width: 100%;
    padding-left: 121px; }
  @media (max-width: 850px) {
    section#contato .remove-mobile {
      display: none; }
    section#contato .-aux {
      max-width: 100%;
      padding-left: 15px; } }

@media (max-width: 850px) {
  section#contatoproject {
    background: url(""); } }
body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-unidade {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/unit.png");
  height: 422px; }
  header#header-unidade .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-unidade .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-unidade .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-unidade .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-unidade .breaditem {
    color: #fff;
    font-size: 18px; }

section#about-unit {
  padding-top: 70px;
  padding-bottom: 50px;
  clear: both; }
  section#about-unit .title {
    text-transform: uppercase; }
    section#about-unit .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#about-unit .br20 {
    border-radius: 20px; }
  section#about-unit .owl-nav {
    position: absolute;
    bottom: 10px;
    right: 0; }
  section#about-unit .owl-prev,
  section#about-unit .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #4bc3bf;
    color: #fff;
    margin-right: 10px; }
  @media (max-width: 850px) {
    section#about-unit .remove-mobile {
      display: none; } }

section#phrase {
  position: relative;
  background: url("../images/unitlinebg.png");
  background-position: top;
  height: 320px; }
  section#phrase h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 142px; }
  @media (max-width: 850px) {
    section#phrase h2 {
      padding-top: 98px; } }

section#especialidades {
  padding-top: 70px;
  padding-bottom: 50px;
  clear: both; }
  section#especialidades .title {
    text-transform: uppercase; }
    section#especialidades .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#especialidades .alinha-acc .acc {
    top: 60px;
    right: 10%;
    min-width: 100%; }
    section#especialidades .alinha-acc .acc #accordion {
      min-width: 100%; }
      section#especialidades .alinha-acc .acc #accordion .card {
        border: none;
        margin-bottom: 5px; }
        section#especialidades .alinha-acc .acc #accordion .card .card-header {
          background-color: #cfcdcd !important;
          border-radius: 10px; }
          section#especialidades .alinha-acc .acc #accordion .card .card-header button {
            color: #292929;
            text-transform: uppercase;
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 15px;
            background: transparent;
            border: 0px;
            cursor: pointer; }
          section#especialidades .alinha-acc .acc #accordion .card .card-header button:hover {
            color: #08a6d5; }
        section#especialidades .alinha-acc .acc #accordion .card .title {
          text-transform: uppercase;
          font-size: 15px;
          margin-top: 10px; }
  @media (max-width: 850px) {
    section#especialidades .remove-mobile {
      display: none; } }

.-aux-team {
  padding-top: 0px !important; }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-projeto {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/projeto.png");
  height: 422px; }
  header#header-projeto .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-projeto .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-projeto .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-projeto .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-projeto .breaditem {
    color: #fff;
    font-size: 18px; }

section#about-project {
  padding-top: 70px;
  padding-bottom: 50px;
  position: relative;
  min-height: 950px; }
  section#about-project .title {
    text-transform: uppercase; }
    section#about-project .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#about-project .br20 {
    border-radius: 20px; }
  section#about-project .owl-controls .owl-dot {
    background-size: cover;
    margin-top: 10px; }
  section#about-project .owl-carousel,
  section#about-project .owl-carousel .owl-item {
    position: initial; }
  section#about-project .owl-prev,
  section#about-project .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #4bc3bf;
    color: #fff;
    margin-right: 10px; }
  section#about-project .owl-dots {
    position: absolute;
    left: -560px;
    bottom: -207px; }
    section#about-project .owl-dots .active {
      border: 4px solid #66cccc;
      border-radius: 10px; }
  section#about-project .owl-dot {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 171px !important;
    width: 171px !important;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px; }
  section#about-project .owl-nav {
    position: absolute;
    bottom: -10px;
    left: -556px; }
  section#about-project .owl-prev,
  section#about-project .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #4bc3bf;
    color: #fff;
    margin-right: 10px; }
  @media (max-width: 850px) {
    section#about-project .remove-mobile {
      display: none; } }

section#participar {
  padding-top: 0px;
  position: relative; }
  section#participar .alinha-texto {
    position: absolute;
    right: 0;
    top: 50px;
    width: 45%;
    padding-right: 90px; }
    section#participar .alinha-texto .title {
      text-transform: uppercase; }
  section#participar .-aux {
    padding-left: 0px;
    max-width: 100%;
    margin-top: 0px !important; }
  @media (max-width: 850px) {
    section#participar .remove-mobile {
      display: none; }
    section#participar .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#participar .alinha-texto {
      position: initial;
      right: 0;
      top: 50px;
      width: 100%;
      padding-right: 10px;
      padding-bottom: 40px; } }

section#phraseproject {
  position: relative;
  background: url("../images/phraseproject.png");
  background-position: top;
  height: 346px; }
  section#phraseproject h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 142px;
    letter-spacing: 5px; }
  @media (max-width: 850px) {
    section#phraseproject h2 {
      padding-top: 98px; } }

section#contatoproject {
  background: url("../images/familiacontact.png");
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 100px;
  min-height: 900px; }

@media (max-width: 850px) {
  section#contatoproject {
    background: url(""); } }
body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-tratamento {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tratamentos/1.png");
  height: 422px; }
  header#header-tratamento .title {
    text-align: center;
    margin-top: 40px;
    color: #ffffff !important;
    text-transform: uppercase; }
    header#header-tratamento .title span {
      letter-spacing: 4px;
      font-size: 25px;
      font-family: 'gotham-book'; }
    header#header-tratamento .title h1 {
      font-size: 55px;
      font-family: 'gotham-ultra';
      line-height: 53px; }
      header#header-tratamento .title h1 span {
        font-size: 55px;
        font-family: 'gotham-ultra';
        background-image: -webkit-linear-gradient(right, #66cccc, #0099cc);
        /* For Chrome and Safari */
        background-image: -moz-linear-gradient(right, #66cccc, #0099cc);
        /* For old Fx (3.6 to 15) */
        background-image: -ms-linear-gradient(right, #66cccc, #0099cc);
        /* For pre-releases of IE 10*/
        background-image: -o-linear-gradient(right, #66cccc, #0099cc);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(right, #66cccc, #0099cc);
        /* Standard syntax; must be last */
        color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  header#header-tratamento .breaditem {
    color: #fff;
    font-size: 18px; }

section#about-tratamento {
  clear: both; }
  section#about-tratamento .paux {
    padding: 70px 100px; }
  section#about-tratamento .title {
    text-transform: uppercase; }
    section#about-tratamento .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#about-tratamento .bg-about {
    padding: 0px;
    background: url("../images/abouttratamento.png");
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover; }
  section#about-tratamento .br20 {
    border-radius: 20px; }
  section#about-tratamento .owl-nav {
    position: absolute;
    bottom: 10px;
    right: 20px; }
  section#about-tratamento .owl-prev,
  section#about-tratamento .owl-next {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: #4bc3bf;
    color: #fff;
    margin-right: 10px; }
  @media (max-width: 850px) {
    section#about-tratamento .paux {
      padding: 70px 50px; } }

section#phrase {
  clear: both;
  background: url("../images/unitlinebg.png");
  background-position: top;
  height: 320px; }
  section#phrase h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 142px; }
  @media (max-width: 850px) {
    section#phrase h2 {
      padding-top: 98px; } }

section#especialidades {
  padding-top: 70px;
  padding-bottom: 50px;
  clear: both; }
  section#especialidades .title {
    text-transform: uppercase; }
    section#especialidades .title span {
      font-size: 15px;
      letter-spacing: 7px;
      font-family: 'gotham-book';
      text-transform: uppercase; }
  section#especialidades .alinha-acc .acc {
    top: 60px;
    right: 10%;
    min-width: 100%; }
    section#especialidades .alinha-acc .acc #accordion {
      min-width: 100%; }
      section#especialidades .alinha-acc .acc #accordion .card {
        border: none;
        margin-bottom: 5px; }
        section#especialidades .alinha-acc .acc #accordion .card .card-header {
          background-color: #cfcdcd !important;
          border-radius: 10px; }
          section#especialidades .alinha-acc .acc #accordion .card .card-header button {
            color: #292929;
            text-transform: uppercase;
            font-family: 'Open Sans';
            font-weight: bold;
            font-size: 15px;
            background: transparent;
            border: 0px;
            cursor: pointer; }
          section#especialidades .alinha-acc .acc #accordion .card .card-header button:hover {
            color: #08a6d5; }
        section#especialidades .alinha-acc .acc #accordion .card .title {
          text-transform: uppercase;
          font-size: 15px;
          margin-top: 10px; }
  @media (max-width: 850px) {
    section#especialidades .remove-mobile {
      display: none; } }

section#faq {
  padding-top: 70px;
  clear: both; }
  section#faq .mtn {
    margin-top: -172px; }
  section#faq .alinha-acc {
    position: relative; }
    section#faq .alinha-acc .acc {
      position: absolute;
      top: 60px;
      right: 110px;
      max-width: 550px; }
      section#faq .alinha-acc .acc .title {
        font-size: 40px;
        text-transform: uppercase; }
      section#faq .alinha-acc .acc .bold {
        font-weight: bold; }
      section#faq .alinha-acc .acc #accordion {
        min-width: 550px; }
        section#faq .alinha-acc .acc #accordion .card {
          border: none;
          margin-bottom: 5px; }
          section#faq .alinha-acc .acc #accordion .card .card-header {
            background-color: #cfcdcd !important;
            border-radius: 10px; }
            section#faq .alinha-acc .acc #accordion .card .card-header button {
              color: #292929;
              text-transform: uppercase;
              font-family: 'Open Sans';
              font-weight: bold;
              font-size: 15px;
              background: transparent;
              border: 0px;
              cursor: pointer; }
            section#faq .alinha-acc .acc #accordion .card .card-header button:hover {
              color: #08a6d5; }
          section#faq .alinha-acc .acc #accordion .card .title {
            text-transform: uppercase;
            font-size: 15px;
            margin-top: 10px; }
  section#faq .-aux {
    padding-left: 0px;
    max-width: 100%;
    margin-top: 0px !important; }
  section#faq .pt-100 {
    padding-top: 100px; }
  @media (max-width: 850px) {
    section#faq .remove-mobile {
      display: none; }
    section#faq .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#faq .alinha-acc {
      position: relative; }
      section#faq .alinha-acc .acc {
        position: initial; }
        section#faq .alinha-acc .acc #accordion {
          min-width: 100%; } }

section#phrasestruct {
  clear: both;
  background: url("../images/bgstruct.png");
  background-position: top;
  height: 328px; }
  section#phrasestruct h2 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-top: 70px; }
  @media (max-width: 850px) {
    section#phrasestruct h2 {
      padding-top: 58px;
      font-size: 30px; } }

section#struct {
  margin-top: -100px;
  padding-bottom: 70px; }

/*# sourceMappingURL=main.css.map */
