<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Nome">Nome</label>
                                <input type="text" required name="name" title="Nome completo" value="<?php echo $this->view->obj->name ?>" class="form-control round" placeholder="Nome completo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="E-mail">E-mail</label>
                                <input type="email" required name="email" title="E-mail" value="<?php echo $this->view->obj->email ?>" class="form-control round" placeholder="Insira o email do usuário">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Celular</label>
                                <input type="text" required name="phone" title="Celular" value="<?php echo $this->view->obj->phone ?>" class="form-control round mobilephone" placeholder="Insira o celular do usuário">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Senha</label>
                                <input type="password" name="password" title="Senha" <?php echo $this->view->obj->iduser == '' ? 'required' : '' ?> class="form-control round" id="password" placeholder="Digite sua senha">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Celular">Confirmar Senha</label>
                                <input type="password" name="password" title="Confirmar Senha" <?php echo $this->view->obj->iduser == '' ? 'required' : '' ?> class="form-control round" id="password_again" placeholder="Confirmar senha">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="upload('formcrud')" type="file" class="custom-file-input" name="file" id="file" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher imagem de perfil</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img class="rounded-circle" id="previewimg" src="<?php echo $this->view->obj->image <> '' ? $this->view->obj->image : '' ?>" style="height: 100px">
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->iduser ?>">
                    <input type="hidden" name="status" value="<?php echo $this->view->obj->status ?>">
                    <input type="hidden" name="password_old" value="<?php echo $this->view->obj->password ?>">
                    <input type="hidden" name="user" value="<?php echo $this->view->obj->user ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <input type="hidden" name="image_old" value="<?php echo $this->view->obj->image ?>">
                    <input type="hidden" name="idgroup" value="<?php echo $this->view->obj->idgroup ?>">
                    <input type="hidden" name="image" value="<?php echo $this->view->obj->image ?>" id="imgload">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>
        </div>
    </div>
</div>