<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formcrud" action="<?php echo $this->view->action ?>" class="form-register">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Nome">Nome</label>
                                <input type="text" required name="title" title="Nome" value="<?php echo $this->view->obj->title ?>" class="form-control round" placeholder="Nome">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Cargo">Cargo</label>
                                <input type="text" required name="office" title="Cargo" value="<?php echo $this->view->obj->office ?>" class="form-control round" placeholder="Cargo">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Tipo de Doc.">Tipo de Doc.</label>
                                <input type="text" required name="typecro" title="Tipo de Doc." value="<?php echo $this->view->obj->typecro ?>" class="form-control round" placeholder="Tipo de Doc.">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="CRO">Documento</label>
                                <input type="text" required name="cro" title="CRO" value="<?php echo $this->view->obj->cro ?>" class="form-control round" placeholder="Documento">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="sr-only" for="Tipo de médico">Tipo de médico</label>
                                <select class="form-control round" required title="Tipo de médico" name="idtype" id="idtype">
                                    <option selected disabled>Selecione um Tipo</option>
                                    <?php foreach ($this->view->types as $g) { ?>
                                        <option <?php echo ($g->idtype == $this->view->obj->idtype ? "selected" : ""); ?> value="<?php echo $g->idtype ?>"><?php echo $g->title ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <h4>Descrição</h4>
                                <label class="sr-only" for="Descrição">Descrição</label>
                                <textarea name="text" class="summernote" placeholder="Descrição" title="Descrição" required id="text" cols="30" rows="10"><?php echo $this->view->obj->text ?></textarea>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <h4>Certificados</h4>
                                <label class="sr-only" for="Certificados">Certificados</label>
                                <textarea name="certificates" class="summernote" placeholder="Certificados" title="Certificados" required id="certificates" cols="30" rows="10"><?php echo $this->view->obj->certificates ?></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Unidades:</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <?php for ($i = 0; $i < count($this->view->units['unit']); $i++) { ?>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="units[]" <?php echo $this->view->units['ckecked'][$i]  ?> class="custom-control-input" id="customCheck<?php echo $this->view->units['unit'][$i]->idunits ?>" value="<?php echo $this->view->units['unit'][$i]->idunits ?>">
                                            <label class="custom-control-label" for="customCheck<?php echo $this->view->units['unit'][$i]->idunits ?>"><?php echo $this->view->units['unit'][$i]->title ?></label>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Especialidades:</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <?php for ($i = 0; $i < count($this->view->specialties[ 'specialties']); $i++) { ?>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="specialties[]" <?php echo $this->view->specialties['ckecked'][$i]  ?> class="custom-control-input" id="specialties<?php echo $this->view->specialties['specialties'][$i]->idspecialties ?>" value="<?php echo $this->view->specialties['specialties'][$i]->idspecialties ?>">
                                            <label class="custom-control-label" for="specialties<?php echo $this->view->specialties['specialties'][$i]->idspecialties ?>"><?php echo $this->view->specialties['specialties'][$i]->title ?></label>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="upload('formcrud')" type="file" class="custom-file-input" name="file" id="file" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher imagem</label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <img id="previewimg" src="<?php echo $this->view->obj->image <> '' ? $this->view->obj->image : 'https://images.summitmedia-digital.com/preview/images/instagram-placeholder.png' ?>" style="height: 100px">
                        </div>
                    </div>

                    <div class="row  mt-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Alt Imagem">Alt Imagem</label>
                                <input type="text" required name="image_alt" title="Alt Imagem" value="<?php echo $this->view->obj->image_alt ?>" class="form-control round" placeholder="Alt Imagem">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="sr-only" for="Title Imagem">Title Imagem</label>
                                <input type="text" name="image_title" title="Title Imagem" value="<?php echo $this->view->obj->image_title ?>" class="form-control round" placeholder="Title Imagem">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label d-none d-sm-block">Ativo:</label>
                        <div class="col-sm-10">
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status" value="a" <?php echo ('a' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="status" id="status2" value="i" <?php echo ('i' == $this->view->obj->status ? "checked" : ""); ?> class="custom-control-input">
                                <label class="custom-control-label" for="status2">Não</label>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="<?php echo $this->view->obj->idteam ?>">
                    <input type="hidden" name="urlpage" id="urlpage" value="<?php echo $this->view->url ?>">
                    <input type="hidden" name="date_create" id="date_create" value="<?php echo $this->obj->date_create ?>">
                    <input type="hidden" name="image_old" value="<?php echo $this->view->obj->image ?>">
                    <input type="hidden" name="image" value="<?php echo $this->view->obj->image ?>" id="imgload">
                    <button type="button" onclick="register('#formcrud')" class="btn btn-success text-white"><?php echo $this->view->label ?></button>
                </form>
            </div>



            <div class="card-text">
                <?php if (isset($this->view->errormessage)) { ?>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert <?php echo $this->view->classe ?>">
                                <?php echo $this->view->errormessage ?>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <div id="status_response" class="d-none text-center mt-2 mb-2">
                    <div class="fa-3x">
                        <i class="text-dark fas fa-spinner fa-spin"></i>
                    </div>
                </div>
                <div class="text-center p-t-115">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls">Subir arquivo</h4>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <form id="formuploadfile" action="/sistema/team/uploadfile?id=<?php echo $this->view->obj->idteam ?>" class="form-register">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card-block">
                                <div class="card-body">
                                    <fieldset class="form-group">
                                        <div class="custom-file">
                                            <input onchange="uploadall('formuploadfile', '/sistema/team/uploadfile?id=<?php echo $this->view->obj->idteam ?>')" type="file" class="custom-file-input" name="file" id="file" aria-describedby="fileHelp">
                                            <label class="custom-file-label" for="inputGroupFile01">Escolher Arquivo</label>
                                        </div>
                                    </fieldset>
                                    <a target="_blank" href="<?php echo isset($this->view->obj->cv) && $this->view->obj->cv <> '' ? $this->view->obj->cv : '#.' ?>">Ver Arquivo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>