 <section id="team-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <div class="box">
                        <img title="<?php echo $this->view->team->image_title ?>" src="<?php echo $this->view->team->image ?>" alt="<?php echo $this->view->team->image_alt ?>" class="img-fluid img-float">
                        <div class="text">
                            <h4><?php echo $this->view->team->title ?></h4>
                            <p class="text-left"><?php echo $this->view->team->office ?></p>
                        </div>
                    </div>
                    <p class="cro"><?php echo $this->view->team->typecro ?> - <?php echo $this->view->team->cro ?></p>
                    <?php if($this->view->team->cv <> ''){ ?>
                        <a href="<?php echo $this->view->team->cv ?>" target="_blank" class="btn-download"><i class="far fa-file-pdf"></i> Baixar CV completo</a>
                    <?php } ?>
                </div>
                <div class="col-lg-9 pt-100">
                    <h3 class="title">Quem sou eu</h3>
                    <div class="row">
                        <?php echo $this->view->team->text ?>
                    </div>
                    <h3 class="title mt-3">Área de Atuação</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <ul>
                                <?php foreach ($this->view->team->specialties as $t) {?>
                                    <li><?php echo $t->title ?></li>
                                <?php }?>
                            </ul>
                        </div>
                    </div>
                    <?php if($this->view->team->certificates <> ''){?>
                        <h3 class="title mt-3">Certificados</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <?php echo $this->view->team->certificates ?>
                            </div>
                        </div>
                    <?php }?>
                </div>
            </div>
        </div>
    </section>