<section id="team-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left">
                <h3 class="title"><span>conheça o</span><br> time de médicos</h3>
            </div>
            <div class="col-lg-6">
                <a class="btn-default float-right" href="/equipe/area/<?php echo $this->url_generate($this->view->type->title) ?>/<?php echo $this->view->type->idtype ?>">
                    <?php echo $this->view->type->title ?> <i class="flaticon-right-arrow"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-carousel owl-theme owl-team">
                    <?php 
                    $i=0;
                    foreach ($this->view->teams as $t) { ?>
                        <div class="box">
                            <img src="<?php echo $t->image ?>" class="img-fluid img-float">
                            <div class="text">
                                <h4><?php echo $t->title ?></h4>
                                <p><?php echo $t->office ?></p>
                            </div>
                            <a class="more-team" href="/equipe/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idteam ?>"><i class="fas fa-plus"></i></a>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</section>