<section id="especialties">
    <?php foreach($this->view->specialtieCategories as $c){
        $title = explode(' ', $c->title) ?>
        <div style="background: linear-gradient(rgba(<?php echo $this->rgb($c->color) ?>, 0.9), rgba(<?php echo $this->rgb($c->color) ?>, 0.9)), url('<?php echo $c->image ?>');" class="especiality esp1">
            <div class="container">
                <i class="icon fas fa-heartbeat"></i>
                <h2>
                    <span><?php echo $title[0] ?></span><br>
                    <?php echo $title[1] ?>
                </h2>
                <p><?php echo $c->text ?></p>
                <a class="btn-transparent float-right" target="_blank" href="<?php echo $c->link ?>">Acesse <i class="flaticon-right-arrow"></i></a>
            </div>
        </div>
    <?php } ?>
</section>

<section id="about" style="min-height: 814px; background-image: url('<?php echo $this->datasite['config']->image_doctor ?>');">
    <div class="container paux">
        <div class="row">
            <div class="col-lg-10 offset-lg-2">
                <div class="row">
                    <div class="col-lg-5 offset-lg-2">
                        <h2>
                            <span>conheça</span><br>
                                nossa história
                        </h2>
                        <p>
                            <?php echo $this->datasite['config']->text_about ?>
                        </p>
                        <a class="btn-default float-left" href="/empresa">Ver toda jornada <i class="flaticon-right-arrow"></i></a>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-10 offset-lg-2">
                        <div class="align-owl">
                            <div class="owl-carousel owl-theme owl-about">
                                <?php foreach($this->view->timeline as $t){ ?>
                                    <div class="item item-boxline">
                                        <div class="timebox">
                                            <i class="<?php echo $t->icon ?>"></i><br>
                                            <strong><?php echo $t->year ?></strong>
                                            <p><?php echo $t->text ?></p>
                                        </div>
                                    </div>
                                <?php } ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="units">
    <div class="title-float">
        <h1>nossas unidades</h1>
    </div>
    <div class="container -aux" style="margin-left: 0px">
        <div class="owl-carousel owl-theme owl-units">
            <?php foreach($this->view->units as $u){ ?>
                <div class="item">
                    <div class="row" style="width: 100%">
                        <div class="col-lg-7" style="z-index: -1;">    
                            <a href="/empresa/unidades/<?php echo $this->url_generate($u->title) ?>/<?php echo $u->idunits ?>">
                                <img src="<?php echo $u->image ?>" title="<?php echo $u->image_title ?>" alt="<?php echo $u->image_alt ?>">
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <div class="title">
                                <span>unidade</span>
                                <?php
                                    $countletter = strlen($u->title);
                                    if($countletter>7){
                                        $media = $countletter / 2;
                                        $unittitle = str_split($u->title, $media);
                                    ?>
                                        <h2 class="align-h2"><?php echo $unittitle[0] ?></h2><h2><?php echo $unittitle[1] ?></h2>
                                    <?php

                                    }else{ ?>
                                        <h2 class="align-h2"><?php echo $u->title ?></h2>
                                    <?php } ?>
                                
                                <i class="color-default fas fa-map-marker-alt"></i> <?php echo $u->address ?><br>
                                <i class="color-default fas fa-envelope"></i> <?php echo $u->email ?><br>
                                <i class="color-default fas fa-phone"></i> <?php echo $u->phone ?><br>
                                <a class="btn-default mt-3" href="/empresa/unidades/<?php echo $this->url_generate($u->title) ?>/<?php echo $u->idunits ?>">Entrar em contato <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
</section>

<section id="tratamentos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="title"><span>Nossos</span><br> Tratamentos</h3>
            </div>
        </div>
        <div class="row">
            <?php foreach($this->view->treatments as $t){ ?>
                <div class="col-lg-4">
                    <span class="title-float"><?php echo $t->idtreatments ?></span><br>
                    <h3 class="subtitle"><?php echo $t->title ?></h3>
                    <p><?php echo $this->limita_caracteres(strip_tags($t->text), 233) ?></p>
                    <a class="btn-link" href="/tratamentos/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idtreatments ?>">Continue lendo <i class="flaticon-right-arrow"></i></a>
                </div>
            <?php } ?>
        </div>
    </div>
</section>

<section id="team">
    <div class="container -aux">
        <div class="row">
            <div class="col-lg-3 align-self-center">
                <h3 class="title text-center"><span>conheça</span><br> nossa equipe</h3>
            </div>
            <div class="col-lg-9">
                <div class="owl-carousel owl-theme owl-team">
                    <?php foreach ($this->view->teams as $t) {?>
                        <div class="item">
                            <div class="box">
                                <img src="<?php echo $t->image ?>" class="img-fluid img-float">
                                <div class="text">
                                    <h4><?php echo $t->title ?></h4>
                                    <p><?php echo $t->office ?></p>
                                </div>
                                <a class="more-team" href="/equipe/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idteam ?>"><i class="fas fa-plus"></i></a>
                            </div>
                        </div>
                    <?php }?>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <span class="cat">Categorias:</span>
                <div class="dropdown">
                    <button class="btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Equipe de médicos
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <?php foreach($this->view->types as $t){ ?>
                            <a class="dropdown-item" href="#"><?php echo $t->title ?></a>
                        <?php } ?>
                    </div>
                </div>
                <a class="btn-link link" href="#.">Ver toda equipe <i class="flaticon-right-arrow"></i></a>
            </div>
        </div>
    </div>
</section>

<section id="clientes">
    <div class="row">
        <div class="col-lg-12 text-center">
                <h3 class="title"><span>conheça</span><br> nossos projetos</h3>
            </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div id="clients-slide" class="owl-carousel">
                <?php foreach($this->view->projects as $p){ ?>
                    <div><a href="/projetos/<?php echo $this->url_generate($p->title) ?>/<?php echo $p->idproject ?>"><img src="<?php echo $p->logo ?>" alt="<?php echo $p->image_alt ?>" title="<?php echo $p->image_title ?>" /></a>  </div>
                <?php } ?>
            </div>
        </div>
    </div>
</section>
