<!DOCTYPE html>
<html lang="en">
    <?php
        $this->loadPage('head'); 
    ?>
<head>
</head>

<body>
    <header id="<?php echo $this->view->page ?>" <?php echo isset($this->bg) ? $this->bg : '' ?>>
        <?php $this->loadPage('menu');?>
        <?php 
            if($this->view->page == 'header-home'){
                $this->loadPage('slider');
            }else{
                $this->loadPage('inner-banner');
            }
        ?>
    </header>
    
    <?php $this->content(); ?>

    <?php $this->loadPage('newsletter');?>
    <?php $this->loadPage('footer');?>
    <?php $this->loadPage('scripts');?>
    
</body>

</html>