<section id="especialidades-page" style="padding-bottom: 0px;">
    <div class="container -aux">
        <div class="alinha-acc">
            <img class="mtn remove-mobile" src="<?php echo $this->url_default_template ?>/assets/images/men-especialities.png" alt="">
            <div class="acc">
                <div id="accordion">
                    <?php foreach($this->view->especialities as $e){ ?>
                        <div class="card">
                            <div class="card-header" id="heading<?php echo $e->idspecialties ?>">
                            <h5 class="mb-0">
                                <button data-toggle="collapse" data-target="#collapse<?php echo $e->idspecialties ?>" aria-expanded="true" aria-controls="collapse<?php echo $e->idspecialties ?>">
                                    <?php echo $e->title ?>
                                </button>
                            </h5>
                            </div>

                            <div id="collapse<?php echo $e->idspecialties ?>" class="collapse show" aria-labelledby="heading<?php echo $e->idspecialties ?>" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="owl-carousel owl-theme owl-team">
                                                <?php foreach($e->teams()->where('status', '=', 'a')->get() as $t){ ?>
                                                    <div class="item">
                                                        <div class="box">
                                                            <img src="<?php echo $t->image ?>" class="img-fluid img-float">
                                                            <div class="text">
                                                                <h4><?php echo $t->title ?></h4>
                                                                <p><?php echo $t->office ?></p>
                                                            </div>
                                                            <a class="more-team" href="/equipe/<?php echo $this->url_generate($t->title) ?>/<?php echo $t->idteam ?>"><i class="fas fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <h3 class="title">
                                                médicos responsáveis
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</section>