<style media="screen">
    .register p {

        color: white !important;
    }
</style>


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="hidden-label-round-controls"><?php echo $this->titulo_pagina ?></h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li>
                        <a data-action="collapse">
                            <i class="ft-minus"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="reload">
                            <i class="ft-rotate-cw"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="expand">
                            <i class="ft-maximize"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="close">
                            <i class="ft-x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="card-text">
                    <?php if (isset($this->view->errormessage)) { ?>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert <?php echo $this->view->classe ?>">
                                    <?php echo $this->view->errormessage ?>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <div id="status_response" class="d-none text-center mt-2 mb-2">
                        <div class="fa-3x">
                            <i class="text-dark fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="text-center p-t-115">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="response"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 align-self-center">
                        <div class="padding-dynamic-table-3">
                            <div class="info">
                                <a href="#." class="btn btn-info text-white" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-reply"></i> Responder</a>
                            </div>
                            <div class="row">
                                <div class="text-block mt-4 col-md-4">
                                    <h6 class="text-uppercase font-weight-bold">Área de RH</h6>
                                    <p><?php echo isset($this->view->obj->rh->title) ? 'Vaga para: ' . $this->view->obj->rh->title : 'Contato do Site' ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-4">
                                    <h6 class="text-uppercase font-weight-bold">Nome</h6>
                                    <p><?php echo $this->view->obj->name ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-4">
                                    <h6 class="text-uppercase font-weight-bold">E-mail</h6>
                                    <p><?php echo $this->view->obj->email ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-4">
                                    <h6 class="text-uppercase font-weight-bold">Telefone</h6>
                                    <p><?php echo $this->view->obj->phone ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-4">
                                    <h6 class="text-uppercase font-weight-bold">Fax</h6>
                                    <p><?php echo $this->view->obj->fax ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-4">
                                    <h6 class="text-uppercase font-weight-bold">Celular</h6>
                                    <p><?php echo $this->view->obj->mobilephone ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-6">
                                    <h6 class="text-uppercase font-weight-bold">Assunto</h6>
                                    <p><?php echo $this->view->obj->subject ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-6">
                                    <h6 class="text-uppercase font-weight-bold">Data de Contato</h6>
                                    <p><?php echo $this->view->obj->date_create ?></p>
                                </div>
                                <div class="text-block mt-4 col-md-12">
                                    <h6 class="text-uppercase font-weight-bold">mensagem</h6>
                                    <p><?php echo $this->view->obj->message ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Responder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="form-register">
                    <textarea class="form-control textarea-register" placeholder="Digite aqui a descrição da página" id="message_box" rows="7"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn-gold-outline border-0" data-dismiss="modal">Cancelar</button> -->
                <button onclick="send()" type="button" class="btn btn-success text-white border-0">Enviar mensagem</button>
            </div>
        </div>
    </div>
</div>
<!-- <a href="mailto:<?php echo $this->view->obj->email ?>?subject=Resposta do Contato&body=<?php echo $this->view->obj->message ?>" class="btn-gold border-0">
  <?php echo $this->view->label ?>
</a> -->
<script type="text/javascript">
    function send() {
        window.location.href = "mailto:<?php echo $this->view->obj->email ?>?subject=RES <?php echo $this->view->obj->subject ?>&body=" + $('#message_box').val() + '%0A%0AResposta do contato: %0A<?php echo $this->view->obj->message ?>%0A%0A';
    }
</script>